In [1]:
import pandas as pd
import networkx as nx
import numpy as np
from tqdm import tqdm
import itertools
import json
from collections import Counter
from multiprocessing import Pool
import matplotlib.pyplot as plt

In [2]:
folder="../dataset_v5/v5_2/v5_2_2/"

In [3]:
ment_4 = pd.read_csv(folder+'final_shodhganga_dataset_v5_2_4.csv', sep =",")

In [4]:
ment_5 = pd.read_csv(folder+'final_shodhganga_dataset_v5_2_6_2.csv', sep =",")

In [5]:
ment_6 = pd.read_csv(folder+'final_shodhganga_dataset_v5_2_7.csv', sep =",")

In [67]:
ment_7 = pd.read_csv(folder+'final_shodhganga_dataset_v5_2_7_2.csv', sep =",")

In [8]:
#ment_6 = pd.read_csv(folder+'final_shodhganga_dataset_v5_2.csv', sep =",")

In [7]:
ment_4.shape

(201477, 24)

In [8]:
ment_5.shape

(201477, 24)

In [6]:
ment_6.shape

(201477, 24)

In [7]:
# graph1 = nx.convert_matrix.from_pandas_edgelist(ment_6, 'advId','resId','publisher_institution', create_using=nx.DiGraph())
# graph1.remove_edges_from(nx.selfloop_edges(graph1))
# cycle=list(nx.simple_cycles(graph1))
# graph1.remove_edges_from(cycle)

In [9]:
ment_4[ment_4['resId']==93101]['researcher_name']

200906    Senthil Kumar K
Name: researcher_name, dtype: object

In [10]:
ment_5[ment_5['resId']==93101]['researcher_name']

17624    Senthilkumar, G.
Name: researcher_name, dtype: object

In [11]:
ment_6[ment_6['resId']==93101]['researcher_name']

195485    Senthil Kumar K
Name: researcher_name, dtype: object

In [81]:
ment_7[(ment_7['resId']==50955)]['researcher_name']

109527    Singh, Ajai Kumar
Name: researcher_name, dtype: object

In [83]:
ment_7[(ment_7['advId']==50955)]['advisor_name']

106296       Singh, Ajay Kumar
106297     Singh, Anjani Kumar
106298     Singh, Anjani Kumar
106299     Singh, Anjani Kumar
106300     Singh, Anjani Kumar
106301    Singh, Anjanee Kumar
106302     Singh, Anjani Kumar
106303       Singh, Ajay Kumar
106304       Singh, Ajay Kumar
106305       Singh, Ajay Kumar
106306       Singh, Ajay Kumar
106307       Singh, Ajay Kumar
106308       Singh, Ajay Kumar
106309       Singh, Ajay Kumar
106310       Singh, Ajay Kumar
106311       Singh, Ajay Kumar
106312       Singh, Ajay Kumar
106313       Singh, Ajay Kumar
106314       Singh, Ajai Kumar
106315       Singh, Ajay Kumar
106316       Singh, Ajay Kumar
106317       Singh, Ajay Kumar
106318       Singh, Ajay Kumar
106319     Singh, Anjani Kumar
106320     Singh, Anjani Kumar
106321     Singh, Anjani Kumar
106322       Singh, Ajay Kumar
106323       Singh, Ajai Kumar
Name: advisor_name, dtype: object

In [82]:
ment_4[(ment_4['resId']==50955)]['researcher_name']

62677    Singh, Ajay Kumar
Name: researcher_name, dtype: object

In [35]:
ment_6[(ment_6['resId']==93101)]['researcher_name'] #93101

195485    Senthil Kumar K
Name: researcher_name, dtype: object

In [36]:
ment_5[(ment_5['resId']==93101)]['researcher_name'] #93101

17624    Senthilkumar, G.
Name: researcher_name, dtype: object

In [62]:
ment_5[(ment_5['advId']==50791)]['advisor_name'] #93101, 7615, 93083,50955, 50791

105875    Singh, Pradeep Kumar
105876    Singh, Pradeep Kumar
105877     Singh, Pradip Kumar
105878    Singh, Pradeep Kumar
105879    Singh, Pradeep Kumar
105880    Singh, Pradeep Kumar
Name: advisor_name, dtype: object

In [63]:
ment_6[(ment_6['advId']==50791)]['advisor_name']

105762    Singh, Pradeep Kumar
105763    Singh, Pradeep Kumar
105764     Singh, Pradip Kumar
105765    Singh, Pradeep Kumar
105766    Singh, Pradeep Kumar
105767    Singh, Pradeep Kumar
Name: advisor_name, dtype: object

In [64]:
ment_5[(ment_5['resId']==50791)][['researcher_name','title']]

,researcher_name,title
106225,"Singh, Praveen Kumar",Machhlishahr tahsil ki jansankhya paryavaran e...

In [65]:
ment_6[(ment_6['resId']==50791)][['researcher_name','title']]

,researcher_name,title
44167,"Singh, Praveen Kumar",Akbar Hemu sambandh ka aitihasik adhyayan
61253,"Singh, Pradeep Kumar",Smritiyon mein varnit ashram vyavastha ka sami...
105928,"Singh, Pradip Kumar",Impact of industrial development on socio econ...
106112,"Singh, Praveen Kumar",Machhlishahr tahsil ki jansankhya paryavaran e...
109628,"Singh, Pradeep Kumar",Madhyakaleen Bharat mein bhawan nirman 1206 1707

In [56]:
ment_6[ment_6['title']=='Modelling and experimental analysis on thermal performance of single slope solar still']

,advisorId,researcherId,advId,resId,advisor_name,researcher_name,publisher_dept,DepartmentId,publisher_institution,instituteId,...,new_date_awarded,dc.date.awarded,dc.subject.ddc,uniq_ddc_across_dept,dc.description.abstract,dc.title.alternative,N_DepartmentId_1,ddc_code,advisor_advId,researcher_resId
18174,7836,109995,7836,285616,"Sundaram, E. Ganapathy","V, Sivakumar",faculty of mechanical engineering,D2324,Anna University,I250,...,2017-07-01,NaN,600::Technology|620::Engineering & allied oper...,"('600', '620')",NaN,NaN,D2324,"('600', '620')","Sundaram, E. Ganapathy@7836","V, Sivakumar@285616"

In [40]:
ment_5[(ment_5['resId']==50791)]['researcher_name']

106225    Singh, Praveen Kumar
Name: researcher_name, dtype: object

In [41]:
ment_6[(ment_6['resId']==50791)][['researcher_name', 'title','N_thesisId']]

,researcher_name,title,N_thesisId
44167,"Singh, Praveen Kumar",Akbar Hemu sambandh ka aitihasik adhyayan,T16266
61253,"Singh, Pradeep Kumar",Smritiyon mein varnit ashram vyavastha ka sami...,T97187
105928,"Singh, Pradip Kumar",Impact of industrial development on socio econ...,T153024
106112,"Singh, Praveen Kumar",Machhlishahr tahsil ki jansankhya paryavaran e...,T98820
109628,"Singh, Pradeep Kumar",Madhyakaleen Bharat mein bhawan nirman 1206 1707,T100248