In [1]:
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
import numpy as np
from collections import Counter
import random
from tqdm import tqdm
import numpy as np
import warnings
import spacy
from cdifflib import CSequenceMatcher
import re

In [2]:
tqdm.pandas()

In [3]:
def lcs(name1, name2):
    match = CSequenceMatcher(None, name1, name2).find_longest_match(0, len(name1), 0, len(name2))
    common_subs=name1[match.a: match.a + match.size]
    print(common_subs)
    name1=re.sub(common_subs," ",name1)
    name2=re.sub(common_subs," ",name2)
    return name1,name2

In [42]:
#nlp1 = spacy.load("en_core_web_trf")

In [41]:
#nlp(None).similarity(nlp(None))

In [28]:
#nlp1('department of botany').similarity(nlp1("department of geography"))

In [3]:
#!pip install spacy-transformers

In [4]:
#!python -m spacy download en_core_web_lg

In [5]:
#en_core_web_trf

In [4]:
nlp=spacy.load('en_core_web_lg')
# warnings.filterwarnings("ignore")

In [6]:
nlp("Shuklottar Hindi kavya chintan ki pravritiyan").similarity(nlp("Ajit cour Prem prakash Waryam singh sadhu Jarnail singh Ate maninder singh kkang de parsang ich"))

0.6025974782122472

In [7]:
nlp("AsvaGhosakrta Saundarananda eka bhasavaijnanik adhyayana").similarity(nlp("Ajit cour Prem prakash Waryam singh sadhu Jarnail singh Ate maninder singh kkang de parsang ich"))

0.41150152495942566

In [122]:
vec=nlp("department of education ").vector

In [109]:
n1, n2 = lcs("department of home science","department of family resource management")

department of

In [11]:
n1,n2=lcs('department of zoology','department of botany')

In [46]:
n1,n2=lcs('dept. of electronics', 'department of dept.of electronics')

of electronics

In [80]:
n1,n2=lcs("department of sociology","department of biochemistry")

department of

In [48]:
n1,n2=lcs('zoology','botany')

o

In [91]:
n1,n2=lcs("department of sacred heart college","faculty of science and humanities")

 of s

In [103]:
n1,n2=lcs("faculty of science and humanities", "department of economics")#0

 of

In [113]:
n1,n2=lcs("department of commerce and financial studies","department of economics") #60

department of

In [115]:
n1,n2=lcs("department of zoology","department of economics") #61

department of

In [111]:
n1,n2=lcs("department of english", "department of economics")#43

department of e

In [117]:
n1,n2=lcs("faculty of science and humanities", "department of economics")#73

 of

In [119]:
n1,n2=lcs("department of applied mathematics","faculty of science and humanities")#75

 of

In [82]:
n1,n2=lcs('department of biochemistry','Institute of microbial technology')

 of

In [74]:
#(department of home science, department of family resource management,0.56)
#('department of biochemistry','Institute of microbial technology',0.5854)
#("department of sociology","department of biochemistry", 0.5849)

In [107]:
n1,n2=lcs("department of sociology","department of home science")

department of

In [120]:
nlp(n2).similarity(nlp(n1))

0.7558166762699375

In [97]:
nlp("department of english").similarity(nlp("department of economics"))

0.7840818947536574

In [5]:
nlp("department of biochemistry").similarity(nlp("Institute of microbial technology"))

0.7028113303044402

In [90]:
nlp("Regulation of T helper 2 cells role of membrane associated molecules of antigen presenting cell").similarity(nlp("Scheduled caste in an urban setting the jatav of Dehradun city"))

0.521441133350551

In [85]:
nlp('Natural sciences & mathematics,Chemistry & allied sciences').similarity(nlp("Technology"))

0.46566903117209896

In [70]:
nlp('Natural sciences & mathematics,Chemistry & allied sciences').similarity(nlp("Social sciences,Sociology & anthropology"))

0.8347826278796932

In [4]:
nlp("english").similarity(nlp("economics"))

0.23687376535375634

In [121]:
nlp("department of education ").similarity(nlp("department of department of agriculture botany"))

0.8859409296757105

In [120]:
nlp("department of agriculture microbiology").similarity(nlp("department of department of agriculture botany"))

0.778973507304866

In [118]:
nlp('department of department of agriculture botany').similarity(nlp("department of geography"))

0.9029461275530227

In [114]:
nlp('department of botany').similarity(nlp("department of geography"))

0.7794907394236452

In [22]:
nlp('department of chemistry').similarity(nlp("department of geography"))

0.4525621118231705

In [17]:
nlp('department of chemistry').similarity(nlp("department of botany"))

0.8429583285456829

In [15]:
nlp("department of english").similarity(nlp("department of economics"))

0.7840818947536574

In [13]:
nlp("department of commerce and financial studies").similarity(nlp("department of economics"))

0.8809601305414452

In [8]:
nlp('department of education').similarity(nlp("faculty of science and humanities"))

0.8224080742855482

In [7]:
nlp('Social sciences').similarity(nlp("Social sciences,Education"))

0.927177609612506

In [12]:
nlp("Natural sciences & mathematics,Chemistry & allied sciences").similarity(nlp('Natural sciences & mathematics,Mathematics'))

0.9404964004334113

In [27]:
nlp("Natural sciences & mathematics,Mathematics").similarity(nlp('Social sciences,Commerce, communications & transportation,Commerce'))

0.7042571898321132

In [13]:
nlp("Natural sciences & mathematics,Animals (Zoology)").similarity(nlp('Natural sciences & mathematics,Animals (Zoology)'))

1.0

In [ ]:
#threshold > 71

In [40]:
ment = pd.read_csv('Shodhganga_mentorship.csv', sep = ",")

In [5]:
ment.columns

Index(['advisorId', 'researcherId', 'advId_1', 'studId_1', 'advisor_name',
       'researcher_name', 'dc.date.submitted[]', 'dc.language.iso[]',
       'dc.publisher.department[]', 'DepartmentId',
       'dc.publisher.institution[]', 'instituteId', 'dc.title[]', 'thesisId',
       'dc.type.degree', 'dc.date.awarded', 'dc.subject.ddc', 'dc.source.uri',
       'dc.description.abstract', 'dc.title.alternative'],
      dtype='object')

In [ ]:
ment=ment.fillna("Not Applicable")

In [6]:
ment['stud_inst_dept']=ment['researcher_name']+"@"+ment['instituteId']+"@"+ment['DepartmentId']

In [9]:
uniq_stud=pd.unique(ment['stud_inst_dept'])

In [10]:
stud_index=pd.DataFrame({'stud_inst_dept':uniq_stud})

In [12]:
stud_index['rid']=stud_index.index

In [13]:
ment["studId_1"]=ment['stud_inst_dept'].map(stud_index.set_index('stud_inst_dept')['rid'])

In [15]:
max(ment['studId_1'])

192128

In [ ]:
def index_advisor(row, df):
    try:
        match = df[df['researcher_name']==row['advisor_name']]
        if len(match) == 1:
            return match['studId_1']
        elif len(match) == 0:
            return np.nan
        else:
            tmp1=match[match['instituteId']==row['instituteId']]
            if len(tmp1)==1:
                return tmp1['studId_1']
            elif len(tmp1)==0:
                tmp4 = match[match['DepartmentId']==row['DepartmentId']]
                if len(tmp4) == 1:
                    return tmp4['studId_1']
                elif len(tmp4)== 0:
                    tmp5=match[match['dc.subject.ddc'].str.contains(row['dc.subject.ddc'],na=False)]
                    if len(tmp5) == 1:
                         return tmp5['studId_1']
                    elif len(tmp5)==0:
                        values=[(row1['studId_1'],nlp(row['dc.title[]']).similarity(nlp(row1['dc.title[]']))) 
                                for index, row1 in match.iterrows()]
                        max_val=sorted(values,key=lambda x: x[0])
                        return max_val[0][1]
                    else:
                        values=[(row1['studId_1'],nlp(row['dc.title[]']).similarity(nlp(row1['dc.title[]']))) 
                                for index, row1 in tmp5.iterrows()]
                        max_val=sorted(values,key=lambda x: x[0])
                        return max_val[0][1]
                else:
                    tmp7 = tmp4[tmp4['dc.subject.ddc'].str.contains(row['dc.subject.ddc'],na=False)]
                    if len(tmp7)==1:
                        return tmp7['studId_1']    
                    elif len(tmp7)==0:
                        values=[(row1['studId_1'],nlp(row['dc.title[]']).similarity(nlp(row1['dc.title[]']))) 
                                for index, row1 in tmp4.iterrows()]
                        max_val=sorted(values,key=lambda x: x[0])
                        return max_val[0][1]
                    else:
                        values=[(row1['studId_1'],nlp(row['dc.title[]']).similarity(nlp(row1['dc.title[]']))) 
                                for index, row1 in tmp7.iterrows()]
                        max_val=sorted(values,key=lambda x: x[0])
                        return max_val[0][1]

            else:
                tmp2=tmp1[tmp1['DepartmentId']==row['DepartmentId']]
                if len(tmp2)==1:
                    return tmp2['studId_1']
                elif len(tmp2)==0:
                    tmp6 = tmp1[tmp1['dc.subject.ddc'].str.contains(row['dc.subject.ddc'],na=False)]
                    if len(tmp6)==1:
                        return tmp6['studId_1']    
                    elif len(tmp6)==0:
                        values=[(row1['studId_1'],nlp(row['dc.title[]']).similarity(nlp(row1['dc.title[]']))) 
                                for index, row1 in tmp1.iterrows()]
                        max_val=sorted(values,key=lambda x: x[0])
                        return max_val[0][1]
                    else:
                        values=[(row1['studId_1'],nlp(row['dc.title[]']).similarity(nlp(row1['dc.title[]']))) 
                                for index, row1 in tmp6.iterrows()]
                        max_val=sorted(values,key=lambda x: x[0])
                        return max_val[0][1]

                else:
                    tmp3 = tmp2[tmp2['dc.subject.ddc'].str.contains(row['dc.subject.ddc'], na=False)]
                    if len(tmp3)==1:
                        return tmp3['studId_1']
                    elif len(tmp3)==0:
                        values=[(row1['studId_1'],nlp(row['dc.title[]']).similarity(nlp(row1['dc.title[]']))) 
                                for index, row1 in tmp2.iterrows()]
                        max_val=sorted(values,key=lambda x: x[0])
                        return max_val[0][1]
                    else:
                        values=[(row1['studId_1'],nlp(row['dc.title[]']).similarity(nlp(row1['dc.title[]']))) 
                                for index, row1 in tmp3.iterrows()]
                        max_val=sorted(values,key=lambda x: x[0])
                        return max_val[0][1]
    except Exception:
        print(row)
        sys.exit("error occured")     
    return np.nan

In [ ]:
ment["advId_1"]=ment.progress_apply(index_advisor, args=(ment,),axis=1)

In [ ]:
ment.to_csv("mod_ment_w_baseline_gen3.csv", index=False)

In [ ]:
ment.columns

In [ ]:
#ment[ment['advisor_name'].str.contains('Raju')]

<h2> Index Generation Rule Based Approach 3 </h2>

In [67]:
ment = pd.read_csv('./index3_files/mod_ment_w_baseline_gen3.csv', sep = ",")

In [6]:
ment.columns

Index(['advisorId', 'researcherId', 'advId_1', 'studId_1', 'advisor_name',
       'researcher_name', 'dc.date.submitted[]', 'dc.language.iso[]',
       'dc.publisher.department[]', 'DepartmentId',
       'dc.publisher.institution[]', 'instituteId', 'dc.title[]', 'thesisId',
       'dc.type.degree', 'dc.date.awarded', 'dc.subject.ddc', 'dc.source.uri',
       'dc.description.abstract', 'dc.title.alternative'],
      dtype='object')

In [7]:
ment.loc[ment['advId_1'].isnull(),'advId_1'].shape

(167048,)

In [8]:
ment["advisor_inst"]= ment['advisor_name']+"@"+ment['dc.publisher.institution[]']

In [9]:
ment["researcher_inst"]= ment['researcher_name']+"@"+ment['dc.publisher.institution[]']

In [10]:
uniq_advisor=pd.unique(ment["advisor_inst"])

In [12]:
indexed_name=pd.DataFrame({'names_inst':uniq_advisor})

In [ ]:
def obtain_index(name, ment):
    match=pd.unique(ment[ment['advisor_inst']==name]['advId_1'])
    if len(match)==1:
        return match[0]
    else:
        count = dict(Counter(match))
        sorted_count= sorted(count, key=count.get, reverse=True)
        return sorted_count[0]

In [18]:
indexed_name["rid"]=indexed_name["names_inst"].progress_apply(obtain_index, args=(ment,))

100%|██████████| 84077/84077 [43:01<00:00, 32.57it/s]

In [30]:
indexed_name1=ment[["researcher_inst","studId_1"]].copy()
indexed_name1.rename(columns={"researcher_inst":"names_inst","studId_1":"rid"},inplace=True)

In [31]:
indexed_name.head()

                                 names_inst      rid
0    Jose, Joseph@Mahatma Gandhi University  40962.0
1     Raju, K. V.@Mahatma Gandhi University      NaN
2   Joseph, K. K.@Mahatma Gandhi University      NaN
3   Thomas, E. M.@Mahatma Gandhi University      NaN
4  Francis, M. S.@Mahatma Gandhi University      NaN

In [32]:
final_indexed_names=pd.concat([indexed_name, indexed_name1],ignore_index=True)

In [34]:
final_indexed_names[["r_names","inst"]]=final_indexed_names["names_inst"].str.split('@', expand=True)

In [36]:
final_indexed_names=final_indexed_names[['r_names','rid','inst','names_inst']]

In [37]:
final_indexed_names.head()

,r_names,rid,inst,names_inst
0,"Jose, Joseph",40962.0,Mahatma Gandhi University,"Jose, Joseph@Mahatma Gandhi University"
1,"Raju, K. V.",NaN,Mahatma Gandhi University,"Raju, K. V.@Mahatma Gandhi University"
2,"Joseph, K. K.",NaN,Mahatma Gandhi University,"Joseph, K. K.@Mahatma Gandhi University"
3,"Thomas, E. M.",NaN,Mahatma Gandhi University,"Thomas, E. M.@Mahatma Gandhi University"
4,"Francis, M. S.",NaN,Mahatma Gandhi University,"Francis, M. S.@Mahatma Gandhi University"

In [25]:
#indexed_name[~(indexed_name['rid'].isnull())]                                        #806 row need validation

In [58]:
ment[~(ment['advId_1'].isnull())]

,advisorId,researcherId,advId_1,studId_1,advisor_name,researcher_name,dc.date.submitted[],dc.language.iso[],dc.publisher.department[],DepartmentId,...,dc.title[],thesisId,dc.type.degree,dc.date.awarded,dc.subject.ddc,dc.source.uri,dc.description.abstract,dc.title.alternative,advisor_inst,researcher_inst
101,58,75985,84.0,102,"Kumar, K. Vijaya","Lakshmi, M.",28-10-2016,eng,department of physics,D1787,...,studies on structural magnetic and dielectric ...,T158276,phd,04-09-2017,500::Natural sciences & mathematics|530::Physics,http://shodhganga.inflibnet.ac.in/,Not_Applicable,Not_Applicable,"Kumar, K. Vijaya@Jawaharlal Nehru Technologica...","Lakshmi, M.@Jawaharlal Nehru Technological Uni..."
215,115,76080,219.0,216,"Antony, Cecilia","Aurora, Ramnik",31-12-2013,eng,department of french,D2106,...,Les Sikns Vus Par les Voyageurs francais 1800 ...,T103015,phd,Not_Applicable,"000::Computer science, information & general w...",http://shodhganga.inflibnet.ac.in/,Not_Applicable,Not_Applicable,"Antony, Cecilia@Panjab University","Aurora, Ramnik@Panjab University"
217,115,1259,219.0,218,"Antony, Cecilia","Sharma, Nidhi",31-12-2011,eng,department of french,D2106,...,La satire chez marcel pagnol,T158241,phd,Not_Applicable,"000::Computer science, information & general w...",http://shodhganga.inflibnet.ac.in/,Not_Applicable,Not_Applicable,"Antony, Cecilia@Panjab University","Sharma, Nidhi@Panjab University"
897,503,76646,899.0,898,"Muthusami, T.","Subramaniam, P K.",Not_Applicable,eng,department of physical education and sports,D815,...,Computation of norms for physical fitness amon...,T74875,phd,Not_Applicable,300::Social sciences|370::Education,http://shodhganga.inflibnet.ac.in/,Not_Applicable,Not_Applicable,"Muthusami, T.@Pondicherry University","Subramaniam, P K.@Pondicherry University"

In [109]:
ment[ment['studId_1']==6676].iloc[:,2:20]['dc.title[]'].values

array(['A study of agricultural and rural development banks in Kerala with special reference to funds management'],
      dtype=object)

In [98]:
ment[ment['studId_1']==157132].iloc[:,5:20]['dc.title[]'].values

array(['Micromorphological studies in guayule rubber parthenium argentatum gray'],
      dtype=object)

In [24]:
ment[ment['researcher_name']=="Joseph, Joy P."]['dc.subject.ddc'].values

array(['600::Technology|650::Management & auxiliary services|658::General management',
       '500::Natural sciences & mathematics|570::Life sciences| biology'],
      dtype=object)

In [44]:
final_indexed_names[final_indexed_names['names_inst'].duplicated()]['inst'].values[2]

'Jawaharlal Nehru Technological University, Anantapuram'

In [40]:
#final_indexed_names[final_indexed_names['r_names']=="John, Presty"]

In [44]:
ment.columns

Index(['advisorId', 'researcherId', 'advId_1', 'studId_1', 'advisor_name',
       'researcher_name', 'dc.date.submitted[]', 'dc.language.iso[]',
       'dc.publisher.department[]', 'DepartmentId',
       'dc.publisher.institution[]', 'instituteId', 'dc.title[]', 'thesisId',
       'dc.type.degree', 'dc.date.awarded', 'dc.subject.ddc', 'dc.source.uri',
       'dc.description.abstract', 'dc.title.alternative'],
      dtype='object')

In [100]:
ment = pd.read_csv('./index3_files/mod_ment_w_baseline_gen3.csv', sep = ",")

In [112]:
ment['dc.publisher.department[]']=ment['dc.publisher.department[]'].fillna(value=ment['dc.publisher.institution[]'])

In [41]:
#ment[ment['dc.publisher.department[]'].isnull()]

In [98]:
ment[ment['researcherId']==131067]

,advisorId,researcherId,advId_1,studId_1,advisor_name,researcher_name,dc.date.submitted[],dc.language.iso[],dc.publisher.department[],DepartmentId,...,instituteId,dc.title[],thesisId,dc.type.degree,dc.date.awarded,dc.subject.ddc,dc.source.uri,dc.description.abstract,dc.title.alternative,stud_inst_dept
67906,27403,131067,NaN,67906,"Gupta, Rd","Khandelwal, Saurabh",01-01-2015,eng,"ITM University, Gwalior",NaN,...,I72,Analysis and Optimization of Nanoscale FinFET ...,T23138,phd,08-07-2016,300::Social sciences|370::Education,http://shodhganga.inflibnet.ac.in/,NaN,NaN,NaN

In [103]:
ment['instituteId'].fillna("I000",inplace=True)
ment['DepartmentId'].fillna("D000",inplace=True)

In [ ]:
'dept. of electronics', 'department of dept.of electronics'

In [104]:
ment['stud_inst_dept']=ment['researcher_name']+"@"+ment['instituteId']+"@"+ment['DepartmentId']

In [55]:
#pd.unique(ment['dc.publisher.department[]'])[2000:]