In [1]:
import pandas as pd

In [2]:
conn = pd.read_csv('Shodhganga_mentorship.csv', sep = ",")

In [3]:
conn.columns

Index(['advisorId', 'researcherId', 'advId_1', 'studId_1', 'advisor_name',
       'researcher_name', 'dc.date.submitted[]', 'dc.language.iso[]',
       'dc.publisher.department[]', 'DepartmentId',
       'dc.publisher.institution[]', 'instituteId', 'dc.title[]', 'thesisId',
       'dc.type.degree', 'dc.date.awarded', 'dc.subject.ddc', 'dc.source.uri',
       'dc.description.abstract', 'dc.title.alternative'],
      dtype='object')

In [4]:
conn.rename(columns={"dc.date.submitted[]": "date_submitted", "dc.language.iso[]": "language",
                     "dc.publisher.department[]":"publisher_dept","dc.publisher.institution[]":"publisher_institution",
                     "dc.title[]":"tilte","dc.type.degree":"degree_type","dc.date.awarded":"awarded_date", 
                     "dc.subject.ddc": "subject",'dc.source.uri':"source_uri",'dc.description.abstract':"abstract",
                     'dc.title.alternative':'alternative_title'}, inplace=True)

In [5]:
conn["advisor_name_inst"]=conn["advisor_name"]+"@"+conn["publisher_institution"]

In [6]:
conn["advisee_name_inst"]=conn["researcher_name"]+"@"+conn["publisher_institution"]

In [7]:
conn["advisee_name_inst"].head()

0    Thoppil, John E.@Mahatma Gandhi University
1          Ancy, V P.@Mahatma Gandhi University
2         Sajoy, P B.@Mahatma Gandhi University
3         Leema, T G.@Mahatma Gandhi University
4      Murali, Soumya@Mahatma Gandhi University
Name: advisee_name_inst, dtype: object

In [8]:
conn["advisor_name_inst"].head()

0      Jose, Joseph@Mahatma Gandhi University
1       Raju, K. V.@Mahatma Gandhi University
2     Joseph, K. K.@Mahatma Gandhi University
3     Thomas, E. M.@Mahatma Gandhi University
4    Francis, M. S.@Mahatma Gandhi University
Name: advisor_name_inst, dtype: object

In [9]:
res_names_inst=pd.unique(conn[['advisor_name_inst', 'advisee_name_inst']].values.ravel('K'))

In [10]:
conn.columns

Index(['advisorId', 'researcherId', 'advId_1', 'studId_1', 'advisor_name',
       'researcher_name', 'date_submitted', 'language', 'publisher_dept',
       'DepartmentId', 'publisher_institution', 'instituteId', 'tilte',
       'thesisId', 'degree_type', 'awarded_date', 'subject', 'source_uri',
       'abstract', 'alternative_title', 'advisor_name_inst',
       'advisee_name_inst'],
      dtype='object')

In [11]:
#base line indexing considering name and institute
name_index=pd.DataFrame({'r_names_inst':res_names_inst})
name_index['rid']=name_index.index
conn["advisorId"]=conn['advisor_name_inst'].map(name_index.set_index('r_names_inst')['rid'])
conn["researcherId"]=conn['advisee_name_inst'].map(name_index.set_index('r_names_inst')['rid'])

In [12]:
conn=conn[['advisorId', 'researcherId','advId_1', 'studId_1', 'advisor_name',
       'researcher_name', 'date_submitted', 'language', 'publisher_dept',
       'DepartmentId', 'publisher_institution', 'instituteId', 'tilte',
       'thesisId', 'degree_type', 'awarded_date', 'subject', 'source_uri',
       'abstract', 'alternative_title']]

In [13]:
conn.to_csv("shodhganga_mentorship_w_baseline_index_2.csv", index=False)

In [14]:
name_index[['r_names','inst']]=name_index['r_names_inst'].str.split("@",expand=True)

In [15]:
name_index.to_csv("baseline_index_2.csv", index=False)

In [16]:
name_index.head()

,r_names_inst,rid,r_names,inst
0,"Jose, Joseph@Mahatma Gandhi University",0,"Jose, Joseph",Mahatma Gandhi University
1,"Raju, K. V.@Mahatma Gandhi University",1,"Raju, K. V.",Mahatma Gandhi University
2,"Joseph, K. K.@Mahatma Gandhi University",2,"Joseph, K. K.",Mahatma Gandhi University
3,"Thomas, E. M.@Mahatma Gandhi University",3,"Thomas, E. M.",Mahatma Gandhi University
4,"Francis, M. S.@Mahatma Gandhi University",4,"Francis, M. S.",Mahatma Gandhi University

In [ ]:
index=0
size=10

In [ ]:
list_of_pairs=((x, y) for i, x in enumerate(name_index[['r_names','rid']].values) for j, y in enumerate(name_index[['r_names','rid']][index:index+size].values) if (i > j+index))

In [ ]:
for a,b in list_of_pairs:
    print(a,b)

In [ ]:
for a, b in enumerate(name_index[['r_names','rid']].values[0:10]):
    print(a,b[0],b[1])

In [ ]:
name_index[['r_names','rid']][index:index+size].values

In [22]:
name_index.shape

(264148, 4)