In [1]:
import pandas as pd
import numpy as np

In [2]:
folder="dataset_v5/"

In [3]:
#ment=pd.read_csv("./base_data/processed_sodhganga_mentorship_dept_rev1.csv", sep=",")

In [4]:
ment = pd.read_csv(folder+"final_shodhganga_dataset_v5.csv")

In [5]:
ment['date_submitted']=pd.to_datetime(ment['date_submitted'],errors="coerce")
ment['dc.date.awarded']=pd.to_datetime(ment['dc.date.awarded'],errors='coerce')

In [6]:
ment.head()

,advisorId,researcherId,advId,resId,advisor_name,researcher_name,publisher_dept,DepartmentId,publisher_institution,instituteId,title,thesisId,N_thesisId,date_submitted,dc.date.awarded,dc.subject.ddc,uniq_ddc_across_dept,dc.description.abstract,dc.title.alternative
0,0,93634,137657,93634,"Jose, Joseph","Thoppil, John E.",department of sacred heart college(thevara). d...,D864,Mahatma Gandhi University,I251,Chromosome studies and exploration of chemical...,T121508,T121508,1998-01-01,1993-12-16,500::Natural sciences & mathematics|580::Plant...,"('500', '580')",NaN,NaN
1,0,93637,137657,93637,"Jose, Joseph","Joseph, Roy",department of sacred heart college(thevara).de...,D864,Mahatma Gandhi University,I251,Karyomorphometrical analysis and exploration o...,T172826,T172826,1998-01-01,NaT,500::Natural sciences & mathematics|580::Plant...,"('500', '580')",NaN,NaN
2,1,93635,1,93635,"Joy, C. M.","Jose, K P.",department of sacred heart college(thevara).de...,D864,Mahatma Gandhi University,I251,Strategies to improve the quality of spices cu...,T149232,T149232,2002-01-07,NaT,500::Natural sciences & mathematics|580::Plant...,"('500', '580')",NaN,NaN
3,2,93636,2,93636,"Joseph, Joy P.","Aruna, A.",department of sacred heart college(thevara).de...,D864,Mahatma Gandhi University,I251,Studies on micropropagation for conservation o...,T134031,T134031,2004-01-04,2005-01-04,500::Natural sciences & mathematics|580::Plant...,"('500', '580')",NaN,NaN
4,2,93689,2,93689,"Joseph, Joy P.","George, Rose",department of sacred heart college(kottayam).d...,D864,Mahatma Gandhi University,I251,In vivo screening evaiuation and exploitation ...,T10269,T10269,2004-01-05,2005-06-30,500::Natural sciences & mathematics|580::Plant...,"('500', '580')",The steroid alkaloid solasodine (C2PI3O2Nh) as...,NaN

In [7]:
ment.shape

(201845, 19)

In [8]:
ment.isna().sum()

advisorId                       0
researcherId                    0
advId                           0
resId                           0
advisor_name                    0
researcher_name                 0
publisher_dept                  0
DepartmentId                    0
publisher_institution           0
instituteId                     0
title                           0
thesisId                        0
N_thesisId                      0
date_submitted              14470
dc.date.awarded            153347
dc.subject.ddc               3632
uniq_ddc_across_dept            0
dc.description.abstract    184725
dc.title.alternative       196816
dtype: int64

In [ ]:
#ment[ment['advisor_name'].str.contains("Adholeya, Alok",na=False)]

In [ ]:
#ment[ment['advisorId']==18287].values

In [ ]:
#ment[ment['advisorId']==18307]

In [ ]:
#ment[ment['dc.date.awarded']=="2014-02-30"]

In [10]:
#ment[ment['dc.date.awarded']=="2014-02-30"]

In [11]:
ment_date=ment[(ment['date_submitted'].notnull()) & (ment['dc.date.awarded'].notnull())].copy()

In [ ]:
# ment_date['date_submitted']=pd.to_datetime(ment_date['date_submitted'])
# ment_date['dc.date.awarded']=pd.to_datetime(ment_date['dc.date.awarded'])

In [12]:
ment_date['diff_in_months'] = ((ment_date['dc.date.awarded'] - ment_date['date_submitted'])/np.timedelta64(1, 'M'))

In [14]:
ment_date['diff_in_months']  = ment_date['diff_in_months'].astype(int)

In [15]:
ment_date.shape

(48496, 20)

In [16]:
ment_date['diff_in_months'].head()

0   -48
3    12
4    17
5    10
6     1
Name: diff_in_months, dtype: int64

In [17]:
np.mean(ment_date['diff_in_months'])  #Avg. 6 month difference between data_submitted and date_awarded

6.135578192015837

In [18]:
np.max(ment_date['diff_in_months'])

384

In [19]:
np.min(ment_date['diff_in_months'])

-1302

In [20]:
ment_date[ment_date['diff_in_months'] < 0].shape  # 2186 cases where data_submitted > date_awarded

(2156, 20)

In [21]:
ment_date[ment_date['diff_in_months'] < 0][['date_submitted','dc.date.awarded','diff_in_months']].head()

    date_submitted dc.date.awarded  diff_in_months
0       1998-01-01      1993-12-16             -48
36      2009-10-06      2009-08-25              -1
67      2011-03-31      2011-01-01              -2
151     2014-12-02      2014-10-13              -1
930     2010-02-26      2010-01-12              -1

In [22]:
ment.columns

Index(['advisorId', 'researcherId', 'advId', 'resId', 'advisor_name',
       'researcher_name', 'publisher_dept', 'DepartmentId',
       'publisher_institution', 'instituteId', 'title', 'thesisId',
       'N_thesisId', 'date_submitted', 'dc.date.awarded', 'dc.subject.ddc',
       'uniq_ddc_across_dept', 'dc.description.abstract',
       'dc.title.alternative'],
      dtype='object')

In [23]:
ment_date[ment_date['diff_in_months'] == -1302]

,advisorId,researcherId,advId,resId,advisor_name,researcher_name,publisher_dept,DepartmentId,publisher_institution,instituteId,title,thesisId,N_thesisId,date_submitted,dc.date.awarded,dc.subject.ddc,uniq_ddc_across_dept,dc.description.abstract,dc.title.alternative,diff_in_months
174158,80763,255007,255008,255007,"Gurumurthy, B. R.","Nagashree, B R.",department of applied botany,D1303,Kuvempu University,I107,In_vitro induction of salinity tolerance in Ac...,T154295,T154295,2014-01-01,1905-06-07,500::Natural sciences & mathematics|580::Plant...,"('500', '580')",NaN,NaN,-1302
174182,80768,255007,80768,255007,"Shivanna, M. B.","Nagashree, B R.",department of applied botany,D1303,Kuvempu University,I107,In_vitro induction of salinity tolerance in Ac...,T154295,T154295,2014-01-01,1905-06-07,500::Natural sciences & mathematics|580::Plant...,"('500', '580')",NaN,NaN,-1302

In [24]:
replace_check=ment_date.head(10).copy()

In [46]:
#replace_check['publisher_dept'].replace("^d.*e$","")