In [1]:
import pandas as pd
import networkx as nx
import numpy as np

In [2]:
folder="dataset_v5/v5_2/"

In [3]:
mod_ment2 = pd.read_csv(folder+'v5_2_2/'+'final_shodhganga_dataset_v5_2_2.csv', sep =",")

In [10]:
mod_ment2.columns

Index(['advisorId', 'researcherId', 'advId', 'resId', 'advisor_name',
       'researcher_name', 'publisher_dept', 'DepartmentId',
       'publisher_institution', 'instituteId', 'title', 'thesisId',
       'N_thesisId', 'date_submitted', 'new_date_awarded', 'dc.date.awarded',
       'dc.subject.ddc', 'uniq_ddc_across_dept', 'dc.description.abstract',
       'dc.title.alternative', 'N_DepartmentId_1', 'ddc_code', 'advisor_advId',
       'researcher_resId'],
      dtype='object')

In [4]:
#advisor-advisee link (Both from different institute) Info. available in shodhganga using thesis title
mod_ment2[mod_ment2['advId']==230594]['title'].values

array(['Adaptive QOS multicast routing protocols for multi-hop networks',
       'Task scheduling algorithms for distributed heterogeneous computing systems',
       'Amelioration of r*-tree indexing principles for multidimensional query processing',
       'A new approach to image metamorphosis and its relevance to polymorphing and view morphing',
       'Speaker identification and hybrid continuous speech recognition for medical terminology'],
      dtype=object)

In [5]:
mod_ment2[mod_ment2['resId']==230594]['title']

148549    Knowledge_based syntactico semantics
148550    Knowledge_based syntactico semantics
Name: title, dtype: object

In [12]:
#hard to very no sign avaialble, also there does not seems to be nay link to validate 
mod_ment2[mod_ment2['advId']==144109]['title'].values)

'1991-07-01'

In [13]:
mod_ment2[mod_ment2['resId']==144109]#['title'].values

,advisorId,researcherId,advId,resId,advisor_name,researcher_name,publisher_dept,DepartmentId,publisher_institution,instituteId,...,new_date_awarded,dc.date.awarded,dc.subject.ddc,uniq_ddc_across_dept,dc.description.abstract,dc.title.alternative,N_DepartmentId_1,ddc_code,advisor_advId,researcher_resId
56039,24794,144109,24794,144109,"Shivarudrappa, G.","Mohan, S.",department of education,D1418,Karnatak University,I26,...,1982-01-31,NaN,300::Social sciences|370::Education,"('300', '370')",NaN,NaN,D1418,"('300', '370')","Shivarudrappa, G.@24794","Mohan, S.@144109"

In [15]:
mod_ment2['adv_inst_id']=mod_ment2['advisor_name']+"@"+mod_ment2['publisher_institution']+"@"+mod_ment2['advId'].map(str).copy()

In [16]:
mod_ment2['stud_inst_id']=mod_ment2['researcher_name']+"@"+mod_ment2['publisher_institution']+"@"+mod_ment2['resId'].map(str).copy()

In [19]:
uniq=pd.unique(mod_ment2[['adv_inst_id', 'stud_inst_id']].values.ravel('K')).copy()
name_index1=pd.DataFrame({'res_inst_id':uniq})
name_index1[['names','inst','idd']]=name_index1['res_inst_id'].str.split("@",expand=True)
name_index1['idd']=name_index1['idd'].map(int)

In [22]:
name_grp=name_index1.groupby(['idd'], as_index=False)[['res_inst_id','names','inst']].agg(lambda x: set(x))

In [24]:
name_grp['inst_count']=name_grp['inst'].apply(lambda x: len(x))

In [27]:
name_grp[name_grp['inst_count']>1]

,idd,res_inst_id,names,inst,inst_count
98,130,"{Mehra, Vandana@Maharshi Dayanand University@1...","{Mehra, Vandana}","{Maharshi Dayanand University, Panjab University}",2
843,1067,"{Kaur, Kuldip@Panjab University@1067, Kaur, Ku...","{Kaur, Kuldip, Kaur, Kuldeep}","{Panjab University, Guru Nanak Dev University}",2
1094,1412,"{Sreekumar, K.@Cochin University of Science an...","{Sreekumar K., Sreekumar, K.}","{Mahatma Gandhi University, Cochin University ...",2
1359,1740,"{Kumar, Vijay@Maharishi Markandeshwar Universi...","{Kumar, Vijay}","{Maharishi Markandeshwar University, Mullana, ...",2
1671,2157,"{Chandrasekaran, M.@Bharathiar University@2157...","{Chandrasekaran, M.}","{Cochin University of Science and Technology, ...",2
...,...,...,...,...,...
252116,280633,"{Gupta, Deepak@Maharishi Markandeshwar Univers...","{Gupta, Deepak}","{Maharishi Markandeshwar University, Mullana, ...",3
252132,280649,"{Aggarwal, Amrish K.@Jaypee Institute of Infor...","{Aggarwal, Amrish K., Aggarwal, Amrish Kumar}","{Jaypee Institute of Information Technology, H...",2
252169,280687,"{Kanwar, Vinay@Panjab University@280687, Kanwa...","{Kanwar, Vinay}",{Sant Longowal Institute of Engineering and Te...,3
252171,280689,"{Singh, Mahinder@Lovely Professional Universit...","{Singh, Mahinder}","{Himachal Pradesh University, Lovely Professio...",2
252268,280790,"{Kaur, Rajinder@Himachal Pradesh University@28...","{Kaur, Rajinder}","{Punjabi University, Himachal Pradesh University}",2

In [55]:
#new_date_awarded
mod_ment2[mod_ment2['advId']==280649]['title'].values

array(['Some Special Classes of Efficient Multiple Bursts Codes',
       'Some Thermal Stability Problems of Elastico Viscous, Ferromagnetic and Nanofluids',
       'NON LINEAR STRESS ANALYSIS OF THICK WALLED CIRCULAR CYLINDERS',
       'Some stability problems of Non-Newtonian Fluids'], dtype=object)

In [56]:
mod_ment2[mod_ment2['resId']==280649]['title'].values

array(['Stability problems in ferromagnetic couple_stress and elastic_viscous fluids'],
      dtype=object)