In [1]:
import pandas as pd
import re

In [2]:
folder="dataset_v5/v5_2/"

In [3]:
final_data = pd.read_csv(folder+"joined_stud_adv_shodhganga_ment_with_disamb_ids4_1_4_1.csv", sep =",")

In [4]:
final_data.loc[final_data["uniq_ddc_across_dept"]=="('',)",'DepartmentId']=final_data[final_data["uniq_ddc_across_dept"]=="('',)"]['N_DepartmentId_1']

In [5]:
final_data['date_submitted']=pd.to_datetime(final_data['date_submitted'],errors="coerce")
final_data['dc.date.awarded']=pd.to_datetime(final_data['dc.date.awarded'],errors='coerce')

In [6]:
month_to_add=6

In [7]:
final_data["new_date_awarded"]=final_data['dc.date.awarded']

In [8]:
final_data.loc[(final_data['dc.date.awarded'].isnull()),'new_date_awarded']=final_data[final_data['dc.date.awarded'].isnull()]['date_submitted']+pd.DateOffset(months=month_to_add)

In [9]:
final_data.isna().sum()

advisorId                       0
researcherId                    0
advisor_name                    0
researcher_name                 0
dc.language.iso[]               0
publisher_dept                  0
DepartmentId                    0
publisher_institution           0
instituteId                     0
title                           0
thesisId                        0
dc.type.degree                  0
date_submitted              14723
dc.date.awarded            156159
dc.subject.ddc               3688
dc.description.abstract    188384
dc.title.alternative       200604
uniq_ddc_across_dept            0
N_DepartmentId_1                0
N_DepartmentId                  0
previous_advisor_name           0
advisor_inst_dept               0
res_inst_dept                   0
adv_names_rid                   0
res_names_rid                   0
advId                           0
resId                           0
N_thesisId                      0
new_date_awarded            14721
dtype: int64

In [10]:
final_data.shape

(205744, 29)

In [11]:
final_data.columns

Index(['advisorId', 'researcherId', 'advisor_name', 'researcher_name',
       'dc.language.iso[]', 'publisher_dept', 'DepartmentId',
       'publisher_institution', 'instituteId', 'title', 'thesisId',
       'dc.type.degree', 'date_submitted', 'dc.date.awarded', 'dc.subject.ddc',
       'dc.description.abstract', 'dc.title.alternative',
       'uniq_ddc_across_dept', 'N_DepartmentId_1', 'N_DepartmentId',
       'previous_advisor_name', 'advisor_inst_dept', 'res_inst_dept',
       'adv_names_rid', 'res_names_rid', 'advId', 'resId', 'N_thesisId',
       'new_date_awarded'],
      dtype='object')

In [12]:
final_data['advisor_advId']=final_data['advisor_name']+"@"+final_data['advId'].map(str)
final_data['researcher_resId']=final_data['researcher_name']+"@"+final_data['resId'].map(str)

In [13]:
#index file
index_names=pd.unique(final_data[['advisor_advId', 'researcher_resId']].values.ravel('K')).copy()
name_index1=pd.DataFrame({'names_id':index_names})
name_index1[['names','rid']]=name_index1['names_id'].str.split("@",expand=True)
name_index1['rid']=name_index1['rid'].map(int)
name_index1=name_index1[['rid','names']].copy()

In [14]:
name_index2=name_index1.groupby(['rid'])['names'].apply(list).reset_index().copy()

In [15]:
name_index2.head()

   rid                    names
0    1             [Joy, C. M.]
1    2         [Joseph, Joy P.]
2    3  [Raju, K. V., Raju, Kv]
3    4          [Joseph, K. K.]
4    5          [Thomas, E. M.]

In [16]:
#modified
name_index2['names']=name_index2['names'].apply(lambda x : "|".join(x))

In [17]:
final_data = final_data[['advisorId','researcherId','advId','resId','advisor_name','researcher_name','publisher_dept',
                         'DepartmentId','publisher_institution','instituteId','title','thesisId','N_thesisId',
                        'date_submitted','new_date_awarded','dc.date.awarded','dc.subject.ddc','uniq_ddc_across_dept','dc.description.abstract', 'dc.title.alternative','N_DepartmentId_1']].copy()

In [18]:
final_data.drop_duplicates(subset=['advId','resId','DepartmentId','instituteId','N_thesisId'], keep="first", inplace=True)

In [19]:
def find_number(text):
    text=str(text)
    num = re.findall(r'\d+',text)
    num=sorted(num)
    return tuple(num)

In [20]:
final_data['ddc_code']=final_data['dc.subject.ddc'].apply(lambda x:find_number(x))

In [28]:
final_data.columns

Index(['advisorId', 'researcherId', 'advId', 'resId', 'advisor_name',
       'researcher_name', 'publisher_dept', 'DepartmentId',
       'publisher_institution', 'instituteId', 'title', 'thesisId',
       'N_thesisId', 'date_submitted', 'new_date_awarded', 'dc.date.awarded',
       'dc.subject.ddc', 'uniq_ddc_across_dept', 'dc.description.abstract',
       'dc.title.alternative', 'N_DepartmentId_1', 'ddc_code'],
      dtype='object')

In [22]:
final_data.shape

(201477, 22)

In [29]:
name_index2.shape

(259454, 2)

In [23]:
#dup=final_data[final_data[['advId','resId','DepartmentId','instituteId','thesisId']].duplicated()]

In [24]:
#final_data[final_data['advId']==261633]

In [25]:
name_index1.to_csv(folder+"index_file1_v5_2.csv", sep ="," , index=False)

In [ ]:
name_index2.to_csv(folder+"index_file2_v5_2_1.csv", sep ="," , index=False)

In [26]:
final_data.to_csv(folder+"final_shodhganga_dataset_v5_2_1.csv", sep ="," , index=False)

In [27]:
pd.unique(final_data['ddc_code'])

array([('500', '580'), ('300',), ('300', '330'), ('300', '370'),
       ('500', '590'), ('000', '004'), ('800', '890', '891'),
       ('600', '680'), ('500', '530'), (), ('600', '660'), ('700', '780'),
       ('600', '650', '658'), ('600',), ('000', '080', '089'),
       ('500', '540', '570'), ('600', '620', '621'), ('500', '510'),
       ('800', '820'), ('600', '620'), ('600', '630', '635'),
       ('600', '610', '615'), ('500',), ('600', '610'), ('600', '640'),
       ('600', '610', '613'), ('300', '380', '381'), ('900', '950'),
       ('600', '620', '628'), ('600', '650', '657'), ('300', '340'),
       ('300', '303'), ('500', '570', '577'), ('500', '570'),
       ('300', '301'), ('900',), ('100', '150'), ('300', '305'),
       ('500', '570', '576'), ('500', '540'), ('700', '790', '791'),
       ('300', '360', '361'), ('400', '490', '491'), ('000', '070'),
       ('300', '320'), ('300', '330', '333'), ('500', '540', '547'),
       ('300', '330', '332'), ('600', '610', '617'),
       ('300', '390', '398'), ('300', '350'), ('600', '610', '616'),
       ('600', '630', '636'), ('300', '360', '362'),
       ('600', '620', '623'), ('600', '610', '618'), ('200',), ('800',),
       ('900', '950', '954'), ('300', '350', '355'), ('500', '520'),
       ('000', '020'), ('600', '630'), ('100',), ('700',), ('300', '306'),
       ('600', '630', '633'), ('600', '660', '664'),
       ('600', '620', '624'), ('300', '304'), ('600', '670', '677'),
       ('500', '590', '595'), ('100', '150', '153'),
       ('500', '570', '571'), ('400',), ('400', '410'), ('000', '080'),
       ('400', '490', '495'), ('200', '210'), ('300', '360', '364'),
       ('300', '370', '371'), ('100', '190'), ('500', '570', '572'),
       ('500', '550'), ('600', '640', '641'), ('600', '630', '638'),
       ('500', '550', '551'), ('600', '630', '632'),
       ('500', '510', '519'), ('500', '590', '591'),
       ('200', '290', '297'), ('900', '950', '956'),
       ('300', '320', '327'), ('300', '360', '368'),
       ('600', '610', '611'), ('100', '110', '114'), ('700', '720'),
       ('600', '630', '634'), ('300', '370', '375'),
       ('700', '780', '782'), ('800', '805'), ('700', '790'),
       ('300', '302'), ('300', '330', '338'), ('600', '630', '639'),
       ('400', '490'), ('700', '740', '741'), ('300', '330', '331'),
       ('600', '620', '622'), ('500', '530', '537'),
       ('300', '360', '363'), ('300', '370', '378'),
       ('600', '660', '668'), ('300', '330', '340', '342'),
       ('300', '301', '320'), ('700', '740', '745'),
       ('200', '290', '294'), ('300', '340', '342'),
       ('000', '020', '025'), ('800', '809'), ('600', '660', '669'),
       ('100', '180'), ('500', '530', '538'), ('600', '660', '662'),
       ('500', '530', '570'), ('600', '610', '612'),
       ('600', '610', '614'), ('500', '570', '579'),
       ('500', '540', '600', '660'), ('300', '320', '323'),
       ('600', '607'), ('300', '301', '370'), ('700', '780', '781'),
       ('500', '570', '600', '660'), ('300', '310', '317'),
       ('600', '670', '675'), ('100', '107'), ('500', '580', '582'),
       ('200', '280'), ('600', '620', '629'), ('600', '690', '691'),
       ('600', '650'), ('800', '880', '882'), ('300', '310'),
       ('100', '150', '600', '650', '658'), ('300', '320', '350'),
       ('600', '630', '637'), ('300', '330', '340'), ('300', '307'),
       ('100', '150', '300', '301'), ('700', '710', '714'),
       ('400', '410', '800', '890', '891'),
       ('400', '490', '491', '500', '520'), ('400', '420'),
       ('500', '540', '541'), ('800', '803'),
       ('500', '590', '600', '660'), ('700', '790', '798'),
       ('300', '370', '374'), ('500', '506'),
       ('500', '580', '600', '660'),
       ('400', '490', '491', '800', '890', '891'), ('300', '360'),
       ('100', '150', '300', '370'), ('200', '260', '261'),
       ('100', '110', '118'), ('600', '620', '627'),
       ('600', '630', '631'), ('500', '540', '570', '576'),
       ('200', '203'), ('100', '180', '181'), ('900', '910'),
       ('500', '505'), ('300', '350', '351'), ('800', '806'),
       ('100', '150', '155'), ('500', '550', '553'),
       ('600', '660', '661'), ('300', '380'), ('800', '820', '822'),
       ('300', '330', '335'), ('300', '370', '372'),
       ('100', '110', '113'), ('800', '890', '895'),
       ('200', '220', '221')], dtype=object)

In [ ]:
#final_data.drop_duplicates(subset=['advId','resId','DepartmentId','instituteId'], keep="first", inplace=True)

In [ ]:
final_data[final_data[['advId','resId','DepartmentId','instituteId']].duplicated()]

In [ ]:
final_data[final_data['researcher_name'].str.contains("Premsingh")]#['title'].values

In [ ]:
index1=final_data[final_data[['advId','N_thesisId']].duplicated()].index.copy()

In [ ]:
final_data.loc[index1][['advId','resId','title','N_thesisId']]

In [ ]:
final_data[(final_data['advId']==189810) & (final_data['N_thesisId']=="T172542")]

In [ ]:
name_index1.head()

In [ ]:
name_index1[name_index1['rid']==11]

In [ ]:
name_index2.head(12).values

In [ ]:
pd.unique(final_data['DepartmentId']).shape

In [ ]:
name_index1[name_index1['names'].duplicated()]

In [ ]:
dup_index=name_index1[name_index1['names'].duplicated()].copy()

In [ ]:
dupl=name_index1[name_index1['names'].duplicated()]['rid'].copy()

In [ ]:
name_index1[name_index1['names']=='Sebastian, P. A.']

In [ ]:
final_data[final_data['advId']==20]

In [ ]:
final_data[final_data['advId']==4917]

In [ ]:
final_data[final_data['advId']==4912]

In [ ]:
dupl_uniq=pd.unique(dupl)

In [ ]:
pd.unique(final_data[final_data['resId'].isin(dupl_uniq)]['resId']).shape

In [ ]:
pd.unique(name_index1[name_index1['rid'].isin(dupl_uniq)]['rid']).shape

In [ ]:
dup_index[dup_index['names']=="Kaur, Baljeet"]

In [ ]:
final_data.iloc[203000:203050][['publisher_dept','dc.subject.ddc','uniq_ddc_across_dept']].values

In [ ]:
final_data.columns

In [30]:
#!python --version

Python 3.6.9