In [1]:
import pandas as pd
from glob import glob

In [2]:
folder="../dataset_v5/v5_2/"

In [3]:
adv_detail = pd.read_csv(folder+"advisorid_studentid_link_with_baseline_gen4_1.csv")

In [4]:
#adv_detail1 = pd.read_csv(folder+"advisorid_studentid_link_with_baseline_gen4_1_1.csv")

In [5]:
ment = pd.read_csv(folder+"shodhganga_ment_with_disamb_ids.csv")

In [6]:
ment.shape

(205744, 27)

In [4]:
adv_detail.columns

Index(['advId', 'instituteId', 'DepartmentId', 'advisor_name',
       'publisher_dept', 'publisher_institution', 'date_submitted', 'title',
       'dc.subject.ddc', 'N_advId'],
      dtype='object')

In [7]:
#adv_detail[adv_detail['N_advId']==217627]

In [9]:
advid_1=adv_detail[~adv_detail["N_advId"].isnull()]['advId']

In [10]:
advid_1.shape

(2177,)

In [8]:
#advid_2=adv_detail1[~adv_detail1["N_advId"].isnull()]['advId']

In [9]:
#adv_detail1[adv_detail1['advId']==435][["advId","N_advId"]]

In [14]:
adv_detail[~adv_detail["N_advId"].isnull()][['advId',"N_advId"]].astype(int).values[0:500]

array([[     0, 137564],
       [    12, 274372],
       [    94, 242236],
       [    97, 180104],
       [   100,  97303],
       [   121, 129892],
       [   135, 264627],
       [   141, 129912],
       [   142, 236274],
       [   148,  17923],
       [   166, 222882],
       [   220, 183468],
       [   407, 194370],
       [   410,  51341],
       [   424, 195673],
       [   476, 242831],
       [   500,  92844],
       [   516, 235357],
       [   588, 147549],
       [   677, 196363],
       [   735, 276777],
       [   820, 221451],
       [   847, 181743],
       [   857, 140642],
       [   859, 140884],
       [   868, 104635],
       [   896, 221454],
       [   899,  94208],
       [   924, 254386],
       [   928, 254338],
       [   930, 254505],
       [   937, 254385],
       [   993, 254013],
       [   997, 253947],
       [   998, 279582],
       [  1027, 252858],
       [  1028, 252969],
       [  1029, 252960],
       [  1070,  93947],
       [  1098, 104127],
       [  1107, 104195],
       [  1138, 100759],
       [  1177, 256825],
       [  1203, 247118],
       [  1268, 135055],
       [  1353, 279790],
       [  1358, 277800],
       [  1413,  18094],
       [  1432, 242949],
       [  1469, 224272],
       [  1470, 253942],
       [  1473, 255975],
       [  1475, 224272],
       [  1478, 240676],
       [  1496,  96632],
       [  1499, 268964],
       [  1501, 280633],
       [  1502, 157246],
       [  1507, 280633],
       [  1508, 157246],
       [  1509, 221341],
       [  1525,  96726],
       [  1528, 168559],
       [  1535, 168559],
       [  1577, 140596],
       [  1586, 139852],
       [  1605, 139462],
       [  1616, 138702],
       [  1617, 140030],
       [  1665, 103211],
       [  1700, 182567],
       [  1706, 221141],
       [  1726,  97261],
       [  1728,  97262],
       [  1741,  97304],
       [  1742,   1740],
       [  1743,  97294],
       [  1745,  97301],
       [  1836, 215035],
       [  1858, 182353],
       [  2125, 208335],
       [  2215, 188427],
       [  2429,  83220],
       [  2481, 224318],
       [  2491, 114943],
       [  2497,  99971],
       [  2633, 198971],
       [  2747, 107579],
       [  3009, 146233],
       [  3075, 276769],
       [  3085, 252798],
       [  3109,  90248],
       [  3132, 100338],
       [  3133, 100318],
       [  3134,   3164],
       [  3146, 100332],
       [  3212,   3115],
       [  3215, 100203],
       [  3232, 269205],
       [  3308,   1096],
       [  3365,  11244],
       [  3372, 116701],
       [  3380, 100765],
       [  3401,   3459],
       [  3432, 163597],
       [  3450, 147332],
       [  3484, 100654],
       [  3547, 191921],
       [  3548, 196636],
       [  3796, 120038],
       [  3903, 101612],
       [  3911,   3918],
       [  3968, 111860],
       [  3978, 238971],
       [  3981, 111840],
       [  4166, 239358],
       [  4173, 239410],
       [  4188, 264430],
       [  4225, 213506],
       [  4262, 177225],
       [  4285, 242237],
       [  4307, 242237],
       [  4316, 102493],
       [  4331,   9790],
       [  4334, 113534],
       [  4335, 247114],
       [  4338, 113549],
       [  4365,  91913],
       [  4431, 252922],
       [  4591,   5990],
       [  4641, 194540],
       [  4704, 220514],
       [  4734, 232361],
       [  4745, 252984],
       [  4783,  57056],
       [  4831, 104167],
       [  4835, 104151],
       [  4990,   5620],
       [  4991,   6751],
       [  5101, 109116],
       [  5186,   6387],
       [  5312, 254049],
       [  5487,  12756],
       [  5571,   6091],
       [  5581,   6099],
       [  5662,   6190],
       [  5765, 176619],
       [  6105,   6521],
       [  6180,   5649],
       [  6203, 143017],
       [  6306, 108618],
       [  6431,  39572],
       [  6527, 118963],
       [  6625, 187790],
       [  6628,   7016],
       [  6650,  97229],
       [  6710, 105558],
       [  7081,  37134],
       [  7200, 106919],
       [  7224,   7177],
       [  7227,   7167],
       [  7235, 106375],
       [  7236, 109370],
       [  7276,   7204],
       [  7305, 136877],
       [  7308,   5964],
       [  7327, 123293],
       [  7329,  96097],
       [  7474, 155192],
       [  7536,   6436],
       [  7541, 169401],
       [  7605, 169413],
       [  7616, 100178],
       [  7632, 120130],
       [  7644, 100228],
       [  7646, 100209],
       [  7651, 100192],
       [  7652, 100229],
       [  7653, 100210],
       [  7672, 100189],
       [  7674, 100224],
       [  7677, 100185],
       [  7678,   9229],
       [  7689, 100191],
       [  7694, 100171],
       [  7700,  90169],
       [  7748, 100212],
       [  7785, 100214],
       [  7799, 100221],
       [  7810, 169397],
       [  7812, 100186],
       [  7822, 169412],
       [  7835, 100170],
       [  7839, 100184],
       [  7881, 100176],
       [  7901, 169409],
       [  7926, 281207],
       [  7932, 100203],
       [  8026, 281143],
       [  8064, 165429],
       [  8067,  36144],
       [  8069, 165482],
       [  8073, 223268],
       [  8076,  36115],
       [  8086,  36282],
       [  8196, 110436],
       [  8197,   7717],
       [  8207, 164276],
       [  8215, 166308],
       [  8324, 266314],
       [  8349,  86003],
       [  8364, 131375],
       [  8391, 137395],
       [  8458, 159529],
       [  8467, 266555],
       [  8494,  76922],
       [  8567, 232147],
       [  8572, 139651],
       [  8602,  12271],
       [  8625, 111514],
       [  8634,  79777],
       [  8663, 111520],
       [  8664, 159692],
       [  8894, 118742],
       [  8929, 111480],
       [  9015, 210308],
       [  9037, 110971],
       [  9105,   8945],
       [  9164,  91106],
       [  9180, 116178],
       [  9232,  90818],
       [  9256,   7965],
       [  9294, 224610],
       [  9301, 111296],
       [  9467, 230732],
       [  9474, 278972],
       [  9482, 230594],
       [  9488, 112938],
       [  9489, 112940],
       [  9490, 112944],
       [  9492, 112942],
       [  9495, 112957],
       [  9497, 112959],
       [  9498, 112956],
       [  9505, 112960],
       [  9506,  76364],
       [  9515, 112939],
       [  9520, 246642],
       [  9528, 138041],
       [  9548, 231277],
       [  9553, 171891],
       [  9577, 136019],
       [  9603, 140583],
       [  9612, 176980],
       [  9613,  97856],
       [  9651, 229347],
       [  9658,  93795],
       [  9733, 119302],
       [  9735, 119302],
       [  9765, 257847],
       [  9832, 264574],
       [  9840,  85174],
       [  9846,  85160],
       [  9866, 108636],
       [  9875, 191921],
       [  9920, 162796],
       [ 10013, 196791],
       [ 10039, 193263],
       [ 10194, 131003],
       [ 10285, 228370],
       [ 10314, 158160],
       [ 10336, 232365],
       [ 10354, 224145],
       [ 10400,  51917],
       [ 10412, 195839],
       [ 10456, 134034],
       [ 10458, 269469],
       [ 10460, 142594],
       [ 10488, 148639],
       [ 10514, 195586],
       [ 10525, 191403],
       [ 10553, 217584],
       [ 10592, 160317],
       [ 10620, 199337],
       [ 10630,  11564],
       [ 10635,  69112],
       [ 10667, 264364],
       [ 10682, 187876],
       [ 10705, 165614],
       [ 10707, 127289],
       [ 10709, 187893],
       [ 10747, 194776],
       [ 10752, 187888],
       [ 10775, 198844],
       [ 10788, 195714],
       [ 10794, 174814],
       [ 10796, 199340],
       [ 10800, 202765],
       [ 10916, 237179],
       [ 10920, 224979],
       [ 10946, 252811],
       [ 10954, 100171],
       [ 10961,  69134],
       [ 10962, 250986],
       [ 11071, 104648],
       [ 11141, 253653],
       [ 11227,  12986],
       [ 11242,   3459],
       [ 11343, 275449],
       [ 11373, 182779],
       [ 11443, 116546],
       [ 11518,  96174],
       [ 11526, 243380],
       [ 11534, 236987],
       [ 11561, 164418],
       [ 11586, 129251],
       [ 11602,  26673],
       [ 11612,  63414],
       [ 11613, 217824],
       [ 11663, 120578],
       [ 11963,  10591],
       [ 12025, 230790],
       [ 12176, 230793],
       [ 12214, 159458],
       [ 12358, 144634],
       [ 12524, 182327],
       [ 12618, 111534],
       [ 12630,  12822],
       [ 12636, 119608],
       [ 12771,  94126],
       [ 12785, 108884],
       [ 12832, 159237],
       [ 12837, 159195],
       [ 12885, 148449],
       [ 12889, 103446],
       [ 12931, 256926],
       [ 12943, 243074],
       [ 12988,  11241],
       [ 13034, 100654],
       [ 13043, 112930],
       [ 13053, 110428],
       [ 13054, 100208],
       [ 13081,  51893],
       [ 13117, 240408],
       [ 13138, 107764],
       [ 13287, 235203],
       [ 13370, 213529],
       [ 13435, 200443],
       [ 13439, 208525],
       [ 13485,  18959],
       [ 13689, 135918],
       [ 13780, 144079],
       [ 14003, 131987],
       [ 14015,  82815],
       [ 14034, 148134],
       [ 14097, 232437],
       [ 14158, 135918],
       [ 14176, 195711],
       [ 14184, 153725],
       [ 14203, 194646],
       [ 14204, 194544],
       [ 14206, 194542],
       [ 14255, 161363],
       [ 14256,  33694],
       [ 14262,  11446],
       [ 14269, 182738],
       [ 14271, 126594],
       [ 14389,  21530],
       [ 14391, 263525],
       [ 14392, 223344],
       [ 14393, 195665],
       [ 14394, 199362],
       [ 14398,  53267],
       [ 14399, 191345],
       [ 14415, 194705],
       [ 14465, 122340],
       [ 14505, 148555],
       [ 14507, 137418],
       [ 14509, 137511],
       [ 14527, 100243],
       [ 14541, 132192],
       [ 14553, 260123],
       [ 14713, 278963],
       [ 14807, 199209],
       [ 14812, 182279],
       [ 14822, 238181],
       [ 14930, 193263],
       [ 15033,  93805],
       [ 15048, 145912],
       [ 15816, 108594],
       [ 15959, 224758],
       [ 16042, 146923],
       [ 16064, 230490],
       [ 16068,  69112],
       [ 16071, 194543],
       [ 16086, 230491],
       [ 16088, 230480],
       [ 16091, 230461],
       [ 16128, 230470],
       [ 16233, 239168],
       [ 16238, 255193],
       [ 16246, 195148],
       [ 16274, 220858],
       [ 16275, 250538],
       [ 16342, 164417],
       [ 16384, 198998],
       [ 16394, 191609],
       [ 16410, 198912],
       [ 16440, 157907],
       [ 16551,  48135],
       [ 16552, 165460],
       [ 16555, 238184],
       [ 16558, 194817],
       [ 16562, 165859],
       [ 16566, 198837],
       [ 16570, 165442],
       [ 16574, 249523],
       [ 16606, 194756],
       [ 16616, 238179],
       [ 16657, 165436],
       [ 16691, 165425],
       [ 16717, 187877],
       [ 16739, 249774],
       [ 16760, 103593],
       [ 16770, 157257],
       [ 16784, 197079],
       [ 16793, 139753],
       [ 16796, 197079],
       [ 16802, 242857],
       [ 16809, 127395],
       [ 16850, 187683],
       [ 16857, 187686],
       [ 16921, 265381],
       [ 16944, 269549],
       [ 16960, 117800],
       [ 17031, 230732],
       [ 17039, 106833],
       [ 17052, 267889],
       [ 17056, 106833],
       [ 17060, 105894],
       [ 17064, 200667],
       [ 17068, 105894],
       [ 17135, 134628],
       [ 17290, 121737],
       [ 17358, 120820],
       [ 17526,  94462],
       [ 17533,  17565],
       [ 17571, 197931],
       [ 17576, 197931],
       [ 17584, 104668],
       [ 17631,  59202],
       [ 17764, 242248],
       [ 17773,  60623],
       [ 17787,  60623],
       [ 17815, 118157],
       [ 17898, 224766],
       [ 17900, 224733],
       [ 17925,    221],
       [ 18004, 107640],
       [ 18008,   4901],
       [ 18009, 107654],
       [ 18014, 267706],
       [ 18016, 228304],
       [ 18033, 131193],
       [ 18181, 118373],
       [ 18220, 113073],
       [ 18318,  97401],
       [ 18359, 130626],
       [ 18366, 130632],
       [ 18383, 255976],
       [ 18392,  17189],
       [ 18463,   6274],
       [ 18580,  13631],
       [ 18609, 103941],
       [ 18689, 116502],
       [ 18775, 103939],
       [ 18867, 209410],
       [ 18920, 209357],
       [ 18935, 255322],
       [ 18942, 159720],
       [ 18950,  13470],
       [ 18951, 250991],
       [ 18958,  13556],
       [ 19134, 219099],
       [ 19201, 199337],
       [ 19206, 266694],
       [ 19209, 232830],
       [ 19210, 195595],
       [ 19407, 249158],
       [ 19420, 174884],
       [ 19460, 104554],
       [ 19791,  71960],
       [ 19797, 116369],
       [ 19851, 191870],
       [ 19908, 130704],
       [ 19935,  96346],
       [ 19964,  19403],
       [ 20043, 114576],
       [ 20056, 222746],
       [ 20076, 230481]])

In [10]:
#diff_set=set(advid_2)-set(advid_1)

In [14]:
#adv_detail1[adv_detail1['advId'].isin(diff_set)][["advId","N_advId"]].values

In [15]:
#adv_detail1[~adv_detail1["N_advId"].isnull()][['advId','N_advId']].shape

In [ ]:
[   141, 129912],

In [14]:
ment[ment['resId']==129912]

,advisorId,researcherId,advisor_name,researcher_name,dc.language.iso[],publisher_dept,DepartmentId,publisher_institution,instituteId,title,...,uniq_ddc_across_dept,N_DepartmentId_1,N_DepartmentId,previous_advisor_name,advisor_inst_dept,res_inst_dept,adv_names_rid,res_names_rid,advId,resId
41257,17931,129912,"Singh, Kulwinder","Bandhu, Tarlok",eng,department of education,D1418,Himachal Pradesh University,I49,A study of burnout among college teachers of P...,...,"('300', '370')",D1418,D1418,"Singh, Kulwinder","Singh, Kulwinder@I49@D1418","Bandhu, Tarlok@I49@D1418","Singh, Kulwinder@17931","Bandhu, Tarlok@129912",17931,129912

In [13]:
ment[ment['advId']==141]

,advisorId,researcherId,advisor_name,researcher_name,dc.language.iso[],publisher_dept,DepartmentId,publisher_institution,instituteId,title,...,uniq_ddc_across_dept,N_DepartmentId_1,N_DepartmentId,previous_advisor_name,advisor_inst_dept,res_inst_dept,adv_names_rid,res_names_rid,advId,resId
334,141,93769,"Bandhu, Tarlok","Kaur, Jasleen",eng,department of education,D623,Panjab University,I87,School environment and family support as corre...,...,"('300', '370')",D1418,D1418,"Bandhu, Tarlok","Bandhu, Tarlok@I87@D623","Kaur, Jasleen@I87@D623","Bandhu, Tarlok@141","Kaur, Jasleen@93769",141,93769

In [11]:
ment[ment['advId']==0]['publisher_dept'].values

array(['department of sacred heart college(thevara). department of botany',
       'department of sacred heart college(thevara).department of botany'],
      dtype=object)

In [17]:
ment[ment['resId']==130632]

,advisorId,researcherId,advisor_name,researcher_name,dc.language.iso[],publisher_dept,DepartmentId,publisher_institution,instituteId,title,...,uniq_ddc_across_dept,N_DepartmentId_1,N_DepartmentId,previous_advisor_name,advisor_inst_dept,res_inst_dept,adv_names_rid,res_names_rid,advId,resId
42068,18356,130632,"Darbari, Hemant","Joshi, Nisheeth",eng,department of computer science newline,D344,Banasthali Univesity,I20,Implications of linguistic feature based evalu...,...,"('',)",D344,D344,"Darbari, Hemant","Darbari, Hemant@I20@D344","Joshi, Nisheeth@I20@D344","Darbari, Hemant@18356","Joshi, Nisheeth@130632",18356,130632

In [ ]:
#ment.columns

In [ ]:
#adv_detail.columns

In [ ]:
index = adv_detail[~((adv_detail['N_advId'].isnull()))].copy()

In [ ]:
index.shape

In [ ]:
index.drop_duplicates(subset=['advId'], keep='first', inplace=True)

In [ ]:
index['N_advId'] = index['N_advId'].astype(int)

In [ ]:
index.shape

In [ ]:
index.head()

In [ ]:
#adv_detail[(adv_detail['new_advId_1']=='multiple')]

In [ ]:
#ment[ment['researcherId']==94770]

In [ ]:
#linking advsior with student 
index_dict = index.set_index('advisorId').to_dict()['new_advId_1']
ment['advisorId'] = ment['advisorId'].replace(index_dict)

In [ ]:
# generating index file to be used with author_disambiguation file
# ment['adv_names_rid']=ment['advisor_name']+"@"+ment['advisorId'].astype(str)
# ment['res_names_rid']=ment['researcher_name']+"@"+ment['researcherId'].astype(str)
# index_ment=pd.unique(ment[['adv_names_rid', 'res_names_rid']].values.ravel('K'))
# name_index=pd.DataFrame({'r_names_rid':index_ment})
# name_index[['r_names','rid']]=name_index['r_names_rid'].str.split("@",expand=True)
# name_index.drop(columns=['r_names_rid'],inplace=True)
# name_index['rid']=name_index['rid'].astype(int)

In [ ]:
ment.columns

In [ ]:
#ment.rename(columns={"dc.publisher.institution[]":"publisher_institution","dc.publisher.department[]":"publisher_dept"}, inplace=True)

In [ ]:
#name_index.shape

In [ ]:
#index[index['advisorId'].duplicated()]

In [ ]:
#ment.head()

In [ ]:
#ment[ment['advisorId']==132735]

In [ ]:
#ment[ment['researcherId']==132735]

In [ ]:
#ment[ment['researcher_name']=="Jose, Joseph"]

In [ ]:
#ment[ment['advisor_name']=="Jose, Joseph"]

In [ ]:
#ment[(ment['advisor_name']=="Kumar, Ashwani")]

In [ ]:
#ment[(ment['researcher_name']=='Kumar, Ashwani')]

In [ ]:
#ment.to_csv("./index_files4/final_ment_w_baseline_gen4.csv", index=False)

In [18]:
def join_advisor_stud(ment_file1=folder+"shodhganga_ment_with_disamb_ids.csv",adv_file2=folder+"advisorid_studentid_link_with_baseline_gen4_1.csv"):
    adv_detail = pd.read_csv(adv_file2)
    ment = pd.read_csv(ment_file1)
    index = adv_detail[~(adv_detail['N_advId'].isnull())].copy()
    #index = adv_detail[~((adv_detail['new_advId_1'].isnull()) | (adv_detail['new_advId_1']=='good')|(adv_detail['new_advId_1']=='multiple'))].copy()
    #index.drop_duplicates(subset=['advisorId'], keep='first', inplace=True)
    index['N_advId'] = index['N_advId'].astype(int)
    index_dict = index.set_index('advId').to_dict()['N_advId']
    ment['advId'] = ment['advId'].replace(index_dict)
    loc=ment_file1.split("/")
    save_loc="/".join(loc[0:-1])+"/joined_stud_adv_"+loc[-1]
    ment.to_csv(save_loc, index=False)
    print('Done')
    return ment

In [ ]:
#loc="./index_files4/mod_ment_w_baseline_gen4.csv".split("/")

In [19]:
ment_mod=join_advisor_stud()

Done

In [ ]:
ment_mod[ment_mod['advId']==1.37412e+05]

In [ ]:
ment_mod[ment_mod['resId']==1.37412e+05]

In [57]:
ment_mod.isna().sum()

advisorId                       0
researcherId                    0
advisor_name                    0
researcher_name                 0
dc.language.iso[]               0
publisher_dept                  0
DepartmentId                    0
publisher_institution           0
instituteId                     0
title                           0
thesisId                        0
dc.type.degree                  0
date_submitted              14709
dc.date.awarded            156063
dc.subject.ddc               3686
dc.description.abstract    188197
dc.title.alternative       200385
uniq_ddc_across_dept            0
N_DepartmentId_1                0
advisor_inst_dept               0
res_inst_dept                   0
adv_names_rid                   0
res_names_rid                   0
advId                           0
resId                           0
dtype: int64

In [60]:
ment_mod[ment_mod['advId'].notnull()].shape

(205518, 25)