In [1]:
import pandas as pd
import numpy as np
from collections import Counter
import random
from tqdm import tqdm
import numpy as np
import warnings

In [2]:
ment = pd.read_csv('base_data/processed_sodhganga_mentorship_dept_rev3.csv', sep = ",")

In [3]:
ment.shape

(205770, 21)

In [4]:
ment.columns

Index(['advisorId', 'researcherId', 'advisor_name', 'researcher_name',
       'dc.language.iso[]', 'publisher_dept', 'DepartmentId',
       'publisher_institution', 'instituteId', 'title', 'thesisId',
       'dc.type.degree', 'date_submitted', 'dc.date.awarded', 'dc.subject.ddc',
       'dc.description.abstract', 'dc.title.alternative',
       'uniq_ddc_across_dept', 'N_DepartmentId_1', 'N_DepartmentId',
       'previous_advisor_name'],
      dtype='object')

In [5]:
ment['advisor_inst_dept']=ment['advisor_name']+"@"+ment['instituteId']+"@"+ment['DepartmentId']

In [6]:
ment['res_inst_dept']=ment['researcher_name']+"@"+ment['instituteId']+"@"+ment['DepartmentId']

In [7]:
index1=pd.unique(ment[['advisor_inst_dept', 'res_inst_dept']].values.ravel('K'))
name_index1=pd.DataFrame({'names_inst_dept':index1})
name_index1['rid']=name_index1.index
ment["advisorId"]=ment['advisor_inst_dept'].map(name_index1.set_index('names_inst_dept')['rid'])
ment["researcherId"]=ment['res_inst_dept'].map(name_index1.set_index('names_inst_dept')['rid'])

In [8]:
name_index1.head()

            names_inst_dept  rid
0    Jose, Joseph@I251@D864    0
1      Joy, C. M.@I251@D864    1
2  Joseph, Joy P.@I251@D864    2
3     Raju, K. V.@I251@D432    3
4   Joseph, K. K.@I251@D432    4

In [9]:
#index generation for author disambiguation
ment['adv_names_rid']=ment['advisor_name']+"@"+ment['advisorId'].astype(str)
ment['res_names_rid']=ment['researcher_name']+"@"+ment['researcherId'].astype(str)
index_ment=pd.unique(ment[['adv_names_rid', 'res_names_rid']].values.ravel('K'))
name_index=pd.DataFrame({'r_names_rid':index_ment})
name_index[['r_names','rid']]=name_index['r_names_rid'].str.split("@",expand=True)
name_index.drop(columns=['r_names_rid'],inplace=True)
name_index['rid']=name_index['rid'].astype(int)

In [10]:
name_index.shape

(281674, 2)

In [11]:
name_index.head()

          r_names  rid
0    Jose, Joseph    0
1      Joy, C. M.    1
2  Joseph, Joy P.    2
3     Raju, K. V.    3
4   Joseph, K. K.    4

In [12]:
folder="dataset_v5/v5_3/"

In [13]:
name_index.to_csv(folder+'index_file.csv',index=False)

In [14]:
ment.to_csv(folder+'processed_sodhganga_mentorship_dept_rev_with_initial_ids.csv',index=False)