In [2]:
import pandas as pd

In [3]:
folder="dataset_v5/v5_2/"

In [4]:
mod_ment2 = pd.read_csv(folder+'v5_2_2/'+'final_shodhganga_dataset_v5_2_2.csv', sep =",")

In [5]:
mod_ment2.columns

Index(['advisorId', 'researcherId', 'advId', 'resId', 'advisor_name',
       'researcher_name', 'publisher_dept', 'DepartmentId',
       'publisher_institution', 'instituteId', 'title', 'thesisId',
       'N_thesisId', 'date_submitted', 'new_date_awarded', 'dc.date.awarded',
       'dc.subject.ddc', 'uniq_ddc_across_dept', 'dc.description.abstract',
       'dc.title.alternative', 'N_DepartmentId_1', 'ddc_code', 'advisor_advId',
       'researcher_resId'],
      dtype='object')

In [28]:
mod_ment2[mod_ment2['resId']==103862]

,advisorId,researcherId,advId,resId,advisor_name,researcher_name,publisher_dept,DepartmentId,publisher_institution,instituteId,...,new_date_awarded,dc.date.awarded,dc.subject.ddc,uniq_ddc_across_dept,dc.description.abstract,dc.title.alternative,N_DepartmentId_1,ddc_code,advisor_advId,researcher_resId
11586,4912,103862,4912,103862,"Kesambi, D. D.","Mohammad, Shabbar",department of mathematics,D563,Aligarh Muslim University,I292,...,1943-07-01,NaN,500::Natural sciences & mathematics|510::Mathe...,"('500', '510')",NaN,NaN,D563,"('500', '510')","Kesambi, D. D.@4912","Mohammad, Shabbar@103862"
11587,4913,103862,4913,103862,"Siddiqi, M. R.","Mohammad, Shabbar",department of mathematics,D563,Aligarh Muslim University,I292,...,1943-07-01,NaN,500::Natural sciences & mathematics|510::Mathe...,"('500', '510')",NaN,NaN,D563,"('500', '510')","Siddiqi, M. R.@4913","Mohammad, Shabbar@103862"
11588,4914,103862,4914,103862,"Racine, C.","Mohammad, Shabbar",department of mathematics,D563,Aligarh Muslim University,I292,...,1943-07-01,NaN,500::Natural sciences & mathematics|510::Mathe...,"('500', '510')",NaN,NaN,D563,"('500', '510')","Racine, C.@4914","Mohammad, Shabbar@103862"
11591,4917,103871,4917,103862,"Kosambi, D. D.","Shabbar, Mohammad",department of mathematics,D563,Aligarh Muslim University,I292,...,1943-07-01,NaN,500::Natural sciences & mathematics|510::Mathe...,"('500', '510')",NaN,NaN,D563,"('500', '510')","Kosambi, D. D.@4917","Shabbar, Mohammad@103862"

In [24]:
df=mod_ment2[mod_ment2['resId']==103862][['advisor_name','title']].copy()

In [10]:
#!pip install disamby

In [13]:
import pandas as pd
import disamby.preprocessors as pre
from disamby import Disamby

In [14]:
pipeline = [
    pre.normalize_whitespace,
    pre.remove_punctuation,
    lambda x: pre.trigram(x) + pre.split_words(x)  # any python function is allowed
]

In [73]:
# mod_ment2[(mod_ment2['advisor_name'].str.contains('Mukhopadhyay'))&(mod_ment2['advisor_name'].str.lower().str.contains('kumar'))&(mod_ment2['advisor_name'].str.lower().str.contains('chandan'))]['advisor_name'].value_counts()

In [27]:
# dis = Disamby(df, pipeline)
# dis.disambiguated_sets(threshold=0.5)

In [ ]:
mod_ment2[mod_ment2['resId']==57280] #check advisor-advsiee name(seems problem)