In [10]:
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
import numpy as np
from tqdm import tqdm
from collections import Counter
from multiprocessing import Pool
import itertools
import re

In [2]:
old_folder="dataset_v5/v5_2/"

In [11]:
folder="../dataset_v5/v5_2/v5_2_2/"

In [12]:
ment = pd.read_csv(folder+'final_shodhganga_dataset_v5_2_2.csv', sep =",")

In [13]:
ment.shape

(201477, 24)

In [14]:
ment.head()

,advisorId,researcherId,advId,resId,advisor_name,researcher_name,publisher_dept,DepartmentId,publisher_institution,instituteId,...,new_date_awarded,dc.date.awarded,dc.subject.ddc,uniq_ddc_across_dept,dc.description.abstract,dc.title.alternative,N_DepartmentId_1,ddc_code,advisor_advId,researcher_resId
0,0,93541,137564,93541,"Jose, Joseph","Thoppil, John E.",department of sacred heart college(thevara). d...,D864,Mahatma Gandhi University,I251,...,1993-12-16,1993-12-16,500::Natural sciences & mathematics|580::Plant...,"('500', '580')",NaN,NaN,D1321,"('500', '580')","Jose, Joseph@137564","Thoppil, John E.@93541"
1,0,93544,137564,93544,"Jose, Joseph","Joseph, Roy",department of sacred heart college(thevara).de...,D864,Mahatma Gandhi University,I251,...,1998-07-01,NaN,500::Natural sciences & mathematics|580::Plant...,"('500', '580')",NaN,NaN,D129,"('500', '580')","Jose, Joseph@137564","Joseph, Roy@93544"
2,1,93542,1,93542,"Joy, C. M.","Jose, K P.",department of sacred heart college(thevara).de...,D864,Mahatma Gandhi University,I251,...,2002-07-07,NaN,500::Natural sciences & mathematics|580::Plant...,"('500', '580')",NaN,NaN,D129,"('500', '580')","Joy, C. M.@1","Jose, K P.@93542"
3,2,93543,70170,93543,"Joseph, Joy P.","Aruna, A.",department of sacred heart college(thevara).de...,D864,Mahatma Gandhi University,I251,...,2005-01-04,2005-01-04,500::Natural sciences & mathematics|580::Plant...,"('500', '580')",NaN,NaN,D129,"('500', '580')","Joseph, Joy P.@70170","Aruna, A.@93543"
4,2,93596,70170,93596,"Joseph, Joy P.","George, Rose",department of sacred heart college(kottayam).d...,D864,Mahatma Gandhi University,I251,...,2005-06-30,2005-06-30,500::Natural sciences & mathematics|580::Plant...,"('500', '580')",The steroid alkaloid solasodine (C2PI3O2Nh) as...,NaN,D864,"('500', '580')","Joseph, Joy P.@70170","George, Rose@93596"

In [7]:
def find_number(text):
    text=str(text)
    num = re.findall(r'\d+',text)
    num=sorted(num)
    return tuple(num)

In [8]:
ment['ddc_code']=ment['dc.subject.ddc'].apply(lambda x:find_number(x))

In [9]:
#pd.unique(ment['ddc_code'])

In [15]:
sim_adv=ment.groupby(['advisor_name','instituteId'], as_index=False)[['advId','dc.subject.ddc','ddc_code']].agg(lambda x: list(x)).copy()

In [16]:
sim_adv.head()

,advisor_name,instituteId,advId,dc.subject.ddc,ddc_code
0,"A, Biyabani S.",I295,"[39333, 39333, 39333]",[800::Literature & rhetoric|890::Literatures o...,"[('800', '890', '891'), ('800', '890', '891'),..."
1,"A, Chandrasekar",I363,[81509],"[000::Computer science, information & general ...","[('000', '004')]"
2,"A, Ishwara Bhat",I73,[13319],[500::Natural sciences & mathematics|580::Plan...,"[('500', '580')]"
3,"A, Kalaiselvan",I250,[89656],[300::Social sciences],"[('300',)]"
4,"A, Kumaravel",I250,[7859],[600::Technology|620::Engineering & allied ope...,"[('600', '620')]"

In [19]:
a = sim_adv['advId'].apply(lambda x : 8438 in x)

In [21]:
sim_adv[a]

,advisor_name,instituteId,advId,dc.subject.ddc,ddc_code
545,"Adhya, T. K.",I75,"[86019, 86019, 86019, 86019, 86019, 8438]",[500::Natural sciences & mathematics|580::Plan...,"[('500', '580'), ('500', '580'), ('500', '570'..."

In [22]:
sim_adv['advId']=sim_adv['advId'].apply(lambda x: set(x))

In [23]:
sim_adv['dc.subject.ddc']=sim_adv['dc.subject.ddc'].apply(lambda x: set(x))

In [24]:
sim_adv['ddc_code']=sim_adv['ddc_code'].apply(lambda x: set(x))

In [25]:
sim_adv['count']=sim_adv['advId'].apply(lambda x: len(x))

In [26]:
sim_adv1=sim_adv[sim_adv['count']>1].reset_index(drop=True).copy()

In [38]:
sim_adv1['advId']=sim_adv1['advId'].apply(lambda x : sorted(x))

In [16]:
# n_tup_list=[]
# for tup in tup_set:
#     if len(tup)==max_tup_size:
#         n_tup_list.append(list(tup))
#         continue
#     else:
#         tup_lst=list(tup)
#         last_ele=tup_lst[-1]
#         for i in range(len(tup_lst),max_tup_size):
#             tup_lst.append(last_ele)
#         n_tup_list.append(tup_lst)

In [27]:
def get_distance(tup1, tup2):
    list_list=[]
    tup_tup=(tup1,tup2)
    max_size=max(len(tup1),len(tup2))
    for tup in tup_tup:
        if len(tup) < max_size:
            tup_lst=list(tup)
            last_ele=tup_lst[-1]
            for i in range(len(tup_lst),max_size):
                tup_lst.append(last_ele)
            list_list.append(tup_lst)
        else:
            list_list.append(list(tup))
    #print(list_list)
    tmp=[int(ele)-int(ele1) for ele, ele1 in zip(list_list[0],list_list[1])]
    dist=abs(sum(tmp))
    return dist

In [28]:
def calc_dist_btw_advid(advid):
    #print(advid)
    tup_list=[]
    for id1, id2 in itertools.combinations(advid,2):
        tup1=eval(str(ddc_code_dict[id1]))
        tup2=eval(str(ddc_code_dict[id2]))
        tup1=tuple(a for a in tup1 if a!="")
        tup2=tuple(a for a in tup2 if a!="")
        if len(tup1)!=0 and len(tup2)!=0:
            dist=get_distance(tup1,tup2)
            tup_list.append((id1,id2,dist))
        else:
            continue
    return tup_list

In [40]:
sim_adv1[sim_adv1['count']==3].head()

,advisor_name,instituteId,advId,dc.subject.ddc,ddc_code,count,dist
32,"Adhikari, Prabha",I316,"[42274, 65184, 65396]","{300::Social sciences|330::Economics, 600::Tec...","{('600', '610'), ('300', '330'), ('500', '540'...",3,"[(65184, 42274, 244), (65184, 65396, 896), (42..."
39,"Aditya, S.",I281,"[22858, 24220, 24768]","{600::Technology, 600::Technology|660::Chemica...","{('600',), ('600', '660', '662'), ('500',)}",3,"[(24768, 22858, 422), (24768, 24220, 122), (22..."
57,"Agarwal, S. R.",I224,"[2229, 2717, 3713]","{900::History & geography, 600::Technology|650...","{('600', '650', '658'), ('300', '330'), ('900',)}",3,"[(3713, 2229, 948), (3713, 2717, 1170), (2229,..."
58,"Agarwal, Usha",I224,"[1954, 1988, 2372]","{nan, 500::Natural sciences & mathematics|580:...","{(), ('500', '580'), ('600', '610', '618')}",3,"[(1988, 2372, 168)]"
62,"Aggarwal, Kk",I209,"[3609, 4131, 84314]","{600::Technology, 600::Technology|660::Chemica...","{('600', '620', '621'), ('600', '660'), ('600'...",3,"[(3609, 84314, 12), (3609, 4131, 108), (84314,..."

In [41]:
ddc_code_dict = dict(zip(ment['advId'], ment['ddc_code'])).copy()

In [42]:
eval(str(ddc_code_dict[16548]))

('300', '370')

In [21]:
#sim_adv1=sim_adv1.loc[1:500]

In [22]:
#sim_adv1

In [43]:
sim_adv1['dist']=sim_adv1['advId'].apply(lambda x : calc_dist_btw_advid(x))

In [49]:
sim_adv1[sim_adv1['count']==4][['advId','dist']].values

array([[list([4830, 4844, 6307, 7062]),
        list([(4830, 4844, 348), (4830, 6307, 1608), (4830, 7062, 388), (4844, 6307, 830), (4844, 7062, 20), (6307, 7062, 810)])],
       [list([28892, 33542, 78098, 79013]),
        list([(28892, 78098, 340), (28892, 79013, 1006), (78098, 79013, 666)])],
       [list([16490, 31716, 43091, 44378]),
        list([(16490, 31716, 190), (16490, 43091, 30), (16490, 44378, 208), (31716, 43091, 220), (31716, 44378, 72), (43091, 44378, 268)])],
       [list([16490, 31716, 43091, 44378]),
        list([(16490, 31716, 190), (16490, 43091, 30), (16490, 44378, 208), (31716, 43091, 220), (31716, 44378, 72), (43091, 44378, 268)])],
       [list([22346, 23290, 25535, 82965]),
        list([(22346, 23290, 200), (22346, 25535, 190), (22346, 82965, 200), (23290, 25535, 210), (23290, 82965, 400), (25535, 82965, 590)])],
       [list([22153, 22231, 23582, 82932]),
        list([(22153, 22231, 192), (22153, 23582, 847), (22153, 82932, 792), (22231, 23582, 1039), (22231, 82932, 200), (23582, 82932, 1639)])],
       [list([21088, 22242, 22901, 23584]),
        list([(21088, 22242, 770), (21088, 22901, 370), (21088, 23584, 101), (22242, 22901, 200), (22242, 23584, 1039), (22901, 23584, 439)])],
       [list([48312, 48565, 57326, 57688]),
        list([(48312, 48565, 479), (48312, 57326, 1319), (48312, 57688, 1200), (48565, 57326, 1199), (48565, 57688, 1679), (57326, 57688, 119)])],
       [list([20895, 22208, 25030, 35900]),
        list([(20895, 22208, 100), (20895, 35900, 500), (22208, 35900, 400)])],
       [list([22348, 23847, 24290, 26126]),
        list([(22348, 23847, 1150), (22348, 24290, 390), (22348, 26126, 360), (23847, 24290, 760), (23847, 26126, 790), (24290, 26126, 30)])],
       [list([1778, 3206, 3240, 3311]),
        list([(1778, 3240, 185), (1778, 3311, 20), (3240, 3311, 145)])],
       [list([20890, 24842, 25029, 27161]),
        list([(20890, 24842, 1621), (20890, 25029, 1001), (20890, 27161, 754), (24842, 25029, 410), (24842, 27161, 867), (25029, 27161, 247)])],
       [list([22654, 23743, 24387, 25234]),
        list([(22654, 23743, 840), (22654, 24387, 40), (22654, 25234, 220), (23743, 24387, 400), (23743, 25234, 1060), (24387, 25234, 260)])],
       [list([31048, 61258, 67451, 70584]),
        list([(31048, 61258, 910), (31048, 67451, 720), (31048, 70584, 1510), (61258, 67451, 190), (61258, 70584, 300), (67451, 70584, 790)])],
       [list([8511, 12145, 33016, 86021]),
        list([(8511, 12145, 119), (8511, 86021, 710), (12145, 86021, 901)])],
       [list([20924, 23793, 24161, 24347]),
        list([(20924, 23793, 700), (20924, 24161, 340), (20924, 24347, 560), (23793, 24161, 1060), (23793, 24347, 840), (24161, 24347, 220)])],
       [list([39915, 73138, 85297, 89246]),
        list([(39915, 73138, 948), (39915, 85297, 292), (39915, 89246, 178), (73138, 85297, 820), (73138, 89246, 535), (85297, 89246, 285)])],
       [list([21183, 22226, 22843, 23850]),
        list([(21183, 22226, 730), (21183, 22843, 340), (21183, 23850, 420), (22226, 22843, 390), (22226, 23850, 1150), (22843, 23850, 760)])],
       [list([80262, 80878, 81972, 87322]),
        list([(80262, 80878, 1240), (80262, 81972, 478), (80262, 87322, 853), (80878, 81972, 762), (80878, 87322, 2093), (81972, 87322, 1331)])],
       [list([37472, 61068, 67600, 67723]),
        list([(37472, 61068, 128), (37472, 67600, 450), (37472, 67723, 410), (61068, 67600, 572), (61068, 67723, 492), (67600, 67723, 40)])],
       [list([31729, 31825, 32005, 72600]),
        list([(31729, 31825, 168), (31729, 32005, 208), (31729, 72600, 808), (31825, 32005, 20), (31825, 72600, 420), (32005, 72600, 400)])],
       [list([5089, 5931, 7256, 7430]),
        list([(5089, 5931, 1170), (5089, 7256, 173), (5089, 7430, 1846), (5931, 7256, 1913), (5931, 7430, 106), (7256, 7430, 2019)])],
       [list([2710, 2938, 85410, 89256]),
        list([(2710, 2938, 1782), (2710, 85410, 1424), (2710, 89256, 1894), (2938, 85410, 358), (2938, 89256, 112), (85410, 89256, 285)])],
       [list([40054, 40317, 40619, 40786]),
        list([(40054, 40317, 268), (40054, 40786, 438), (40317, 40786, 944)])],
       [list([16415, 31866, 32134, 72599]),
        list([(16415, 31866, 10), (16415, 32134, 180), (16415, 72599, 410), (31866, 32134, 190), (31866, 72599, 400), (32134, 72599, 590)])],
       [list([20173, 30979, 37241, 46549]),
        list([(20173, 30979, 1420), (20173, 37241, 950), (20173, 46549, 180), (30979, 37241, 470), (30979, 46549, 800), (37241, 46549, 1130)])],
       [list([29448, 47064, 53925, 57293]),
        list([(29448, 47064, 1833), (29448, 53925, 666), (29448, 57293, 1026), (47064, 53925, 801), (47064, 57293, 281), (53925, 57293, 360)])],
       [list([47863, 47945, 58257, 60650]),
        list([(47863, 47945, 388), (47863, 58257, 847), (47945, 58257, 459)])],
       [list([26585, 28086, 34627, 41314]),
        list([(26585, 28086, 761), (26585, 34627, 847), (26585, 41314, 519), (28086, 34627, 1608), (28086, 41314, 840), (34627, 41314, 328)])],
       [list([19609, 42435, 55724, 82317]),
        list([(19609, 42435, 220), (19609, 55724, 760), (19609, 82317, 370), (42435, 55724, 540), (42435, 82317, 590), (55724, 82317, 1130)])],
       [list([19315, 20645, 26631, 34670]),
        list([(19315, 20645, 410), (19315, 26631, 519), (19315, 34670, 328), (20645, 26631, 101), (20645, 34670, 948), (26631, 34670, 847)])],
       [list([8731, 8778, 12647, 86043]),
        list([(8731, 8778, 847), (8731, 12647, 100), (8731, 86043, 619), (8778, 12647, 947), (8778, 86043, 228), (12647, 86043, 719)])],
       [list([8692, 12646, 85957, 86150]),
        list([(8692, 12646, 100), (8692, 85957, 847), (8692, 86150, 619), (12646, 85957, 947), (12646, 86150, 719), (85957, 86150, 228)])],
       [list([8063, 70826, 72979, 74364]),
        list([(8063, 70826, 600), (8063, 72979, 1241), (8063, 74364, 970), (70826, 72979, 341), (70826, 74364, 370), (72979, 74364, 199)])],
       [list([31691, 31942, 46839, 71591]),
        list([(31691, 31942, 59), (31691, 46839, 180), (31691, 71591, 730), (31942, 46839, 319), (31942, 71591, 1119), (46839, 71591, 550)])],
       [list([31699, 32084, 44366, 71592]),
        list([(31699, 32084, 79), (31699, 44366, 170), (31699, 71592, 720), (32084, 44366, 319), (32084, 71592, 1119), (44366, 71592, 550)])],
       [list([9031, 48804, 71795, 76245]),
        list([(9031, 48804, 722), (9031, 71795, 1543), (9031, 76245, 850), (48804, 71795, 821), (48804, 76245, 578), (71795, 76245, 243)])],
       [list([53615, 56807, 76861, 83876]),
        list([(53615, 56807, 1420), (53615, 76861, 532), (53615, 83876, 540), (56807, 76861, 1608), (56807, 83876, 880), (76861, 83876, 248)])],
       [list([32801, 32818, 69272, 76911]),
        list([(32801, 32818, 400), (32801, 69272, 1681), (32801, 76911, 600), (32818, 69272, 481), (32818, 76911, 200), (69272, 76911, 119)])],
       [list([8415, 8503, 8823, 85969]),
        list([(8415, 8503, 720), (8415, 8823, 790), (8415, 85969, 279), (8503, 8823, 1510), (8503, 85969, 1319), (8823, 85969, 901)])],
       [list([8774, 8825, 12051, 86130]),
        list([(8774, 8825, 1508), (8774, 12051, 673), (8774, 86130, 228), (8825, 12051, 2181), (8825, 86130, 840), (12051, 86130, 901)])],
       [list([8302, 8729, 8772, 86148]),
        list([(8302, 8729, 1379), (8302, 8772, 532), (8302, 86148, 530), (8729, 8772, 847), (8729, 86148, 619), (8772, 86148, 228)])],
       [list([8506, 12276, 12360, 86173]),
        list([(8506, 12276, 710), (8506, 12360, 852), (8506, 86173, 730), (12276, 12360, 168), (12276, 86173, 20), (12360, 86173, 208)])],
       [list([30216, 71017, 71031, 71056]),
        list([(30216, 71017, 121), (30216, 71031, 557), (30216, 71056, 1677), (71017, 71031, 439), (71017, 71056, 1199), (71031, 71056, 760)])],
       [list([20170, 30973, 47198, 61048]),
        list([(20170, 30973, 1330), (20170, 47198, 730), (20170, 61048, 1352), (30973, 47198, 600), (30973, 61048, 608), (47198, 61048, 292)])],
       [list([31706, 46832, 71593, 72811]),
        list([(31706, 46832, 319), (31706, 71593, 1119), (31706, 72811, 39), (46832, 71593, 550), (46832, 72811, 190), (71593, 72811, 740)])],
       [list([65189, 65295, 65334, 65361]),
        list([(65189, 65295, 615), (65189, 65334, 1371), (65189, 65361, 431), (65295, 65334, 756), (65295, 65361, 184), (65334, 65361, 620)])],
       [list([8382, 8545, 8821, 12827]),
        list([(8382, 8545, 1070), (8382, 8821, 840), (8382, 12827, 420), (8545, 8821, 230), (8545, 12827, 650), (8821, 12827, 420)])],
       [list([39273, 42072, 57117, 74482]),
        list([(39273, 42072, 196), (39273, 57117, 500), (42072, 57117, 1196)])],
       [list([46155, 46413, 56858, 60239]),
        list([(46155, 46413, 2181), (46155, 56858, 2552), (46155, 60239, 1541), (46413, 56858, 370), (46413, 60239, 420), (56858, 60239, 490)])],
       [list([8326, 8940, 12593, 86039]),
        list([(8326, 8940, 460), (8326, 12593, 310), (8326, 86039, 50), (8940, 12593, 770), (8940, 86039, 410), (12593, 86039, 360)])],
       [list([8250, 11921, 66971, 67021]),
        list([(8250, 11921, 170), (8250, 66971, 90), (8250, 67021, 110), (11921, 66971, 260), (11921, 67021, 60), (66971, 67021, 100)])],
       [list([48635, 62751, 63289, 64279]),
        list([(48635, 62751, 5), (48635, 63289, 1525), (48635, 64279, 785), (62751, 63289, 1010), (62751, 64279, 540), (63289, 64279, 470)])],
       [list([7640, 89304, 90118, 90808]),
        list([(7640, 89304, 620), (7640, 90118, 1), (7640, 90808, 1216), (89304, 90118, 941), (89304, 90808, 596), (90118, 90808, 1833)])],
       [list([80880, 81971, 87102, 87309]),
        list([(80880, 81971, 662), (80880, 87102, 462), (80880, 87309, 315), (81971, 87102, 150), (81971, 87309, 347), (87102, 87309, 147)])],
       [list([31698, 43084, 46831, 218904]),
        list([(31698, 43084, 39), (31698, 46831, 190), (31698, 218904, 140), (43084, 46831, 319), (43084, 218904, 198), (46831, 218904, 230)])],
       [list([23778, 25530, 26085, 35898]),
        list([(23778, 25530, 1010), (23778, 26085, 840), (23778, 35898, 870), (25530, 26085, 170), (25530, 35898, 140), (26085, 35898, 30)])],
       [list([45474, 67424, 67770, 77507]),
        list([(45474, 67424, 388), (45474, 67770, 948), (45474, 77507, 847), (67424, 67770, 380), (67424, 77507, 459), (67770, 77507, 101)])],
       [list([8056, 46664, 56887, 60373]),
        list([(8056, 46664, 996), (8056, 56887, 194), (8056, 60373, 1194), (46664, 56887, 708), (46664, 60373, 792), (56887, 60373, 500)])],
       [list([20902, 22171, 22955, 25625]),
        list([(20902, 22171, 100), (20902, 22955, 300), (20902, 25625, 535), (22171, 22955, 200), (22171, 25625, 235), (22955, 25625, 365)])],
       [list([21751, 22519, 23130, 24534]),
        list([(21751, 22519, 146), (21751, 23130, 0), (21751, 24534, 478), (22519, 23130, 146), (22519, 24534, 624), (23130, 24534, 478)])],
       [list([21051, 22240, 23249, 23516]),
        list([(21051, 22240, 770), (21051, 23249, 370), (21051, 23516, 101), (22240, 23249, 200), (22240, 23516, 1039), (23249, 23516, 439)])],
       [list([59327, 59520, 59934, 84030]),
        list([(59327, 59520, 708), (59327, 59934, 130), (59327, 84030, 300), (59520, 59934, 868), (59520, 84030, 192), (59934, 84030, 730)])],
       [list([79914, 80433, 80637, 87362]),
        list([(79914, 80433, 1902), (79914, 80637, 479), (79914, 87362, 799), (80433, 80637, 1144), (80433, 87362, 704), (80637, 87362, 320)])],
       [list([42831, 81355, 89096, 103813]),
        list([(42831, 81355, 190), (42831, 89096, 540), (42831, 103813, 220), (81355, 89096, 730), (81355, 103813, 30), (89096, 103813, 760)])],
       [list([47871, 47960, 58261, 60647]),
        list([(47871, 47960, 388), (47871, 58261, 847), (47960, 58261, 459)])],
       [list([80029, 80917, 85224, 87369]),
        list([(80029, 80917, 957), (80029, 85224, 663), (80029, 87369, 1137), (80917, 85224, 1060), (80917, 87369, 140), (85224, 87369, 600)])],
       [list([2607, 38678, 38901, 39187]),
        list([(2607, 38678, 666), (2607, 38901, 360), (2607, 39187, 530), (38678, 38901, 1026), (38678, 39187, 1196), (38901, 39187, 170)])],
       [list([250, 79939, 80593, 86961]),
        list([(250, 79939, 341), (250, 80593, 1541), (250, 86961, 130), (79939, 80593, 1200), (79939, 86961, 181), (80593, 86961, 1381)])],
       [list([19947, 50689, 83628, 83842]),
        list([(19947, 50689, 1180), (19947, 83628, 1170), (19947, 83842, 720), (50689, 83628, 10), (50689, 83842, 460), (83628, 83842, 450)])],
       [list([27500, 27891, 43563, 50651]),
        list([(27500, 27891, 1757), (27500, 43563, 737), (27500, 50651, 118), (27891, 43563, 710), (27891, 50651, 1639), (43563, 50651, 619)])],
       [list([2814, 50931, 52100, 83836]),
        list([(2814, 50931, 570), (2814, 52100, 150), (2814, 83836, 190), (50931, 52100, 720), (50931, 83836, 760), (52100, 83836, 40)])],
       [list([27544, 41830, 50399, 50804]),
        list([(27544, 41830, 1001), (27544, 50399, 790), (27544, 50804, 760), (41830, 50399, 2181), (41830, 50804, 119), (50399, 50804, 1550)])],
       [list([27582, 41895, 50707, 52057]),
        list([(27582, 41895, 1520), (27582, 50707, 101), (27582, 52057, 459), (41895, 50707, 1621), (41895, 52057, 1061), (50707, 52057, 380)])],
       [list([76820, 79910, 80270, 80879]),
        list([(76820, 79910, 429), (76820, 80270, 538), (76820, 80879, 702), (79910, 80270, 120), (79910, 80879, 1360), (80270, 80879, 1240)])],
       [list([2815, 27542, 50605, 160317]),
        list([(2815, 27542, 220), (2815, 50605, 799), (2815, 160317, 190), (27542, 50605, 459), (27542, 160317, 30), (50605, 160317, 519)])],
       [list([1864, 2359, 3236, 9516]),
        list([(2359, 3236, 228), (2359, 9516, 248), (3236, 9516, 10)])],
       [list([41811, 50618, 52467, 83643]),
        list([(41811, 50618, 1520), (41811, 52467, 1061), (41811, 83643, 1641), (50618, 52467, 459), (50618, 83643, 121), (52467, 83643, 390)])],
       [list([917, 37195, 46572, 47389]),
        list([(917, 37195, 580), (917, 46572, 950), (917, 47389, 390), (37195, 46572, 370), (37195, 47389, 190), (46572, 47389, 560)])],
       [list([41868, 50700, 52121, 53613]),
        list([(41868, 50700, 1621), (41868, 52121, 1081), (41868, 53613, 141), (50700, 52121, 370), (50700, 53613, 990), (52121, 53613, 620)])],
       [list([21603, 22202, 23786, 24590]),
        list([(21603, 22202, 200), (21603, 23786, 800), (21603, 24590, 859), (22202, 23786, 600), (22202, 24590, 259), (23786, 24590, 1541)])],
       [list([38903, 38997, 39084, 39185]),
        list([(38903, 38997, 170), (38903, 39084, 1026), (38903, 39185, 190), (38997, 39084, 1196), (38997, 39185, 20), (39084, 39185, 1216)])],
       [list([28788, 34561, 78419, 78655]),
        list([(28788, 78419, 1021), (28788, 78655, 380), (78419, 78655, 1581)])],
       [list([3362, 3410, 3429, 11233]),
        list([(3362, 3410, 550), (3362, 3429, 930), (3362, 11233, 341), (3410, 3429, 380), (3410, 11233, 459), (3429, 11233, 1019)])],
       [list([15324, 15497, 15582, 82896]),
        list([(15324, 15497, 948), (15324, 15582, 847), (15324, 82896, 1868), (15497, 15582, 101), (15497, 82896, 610), (15582, 82896, 1021)])],
       [list([15070, 46671, 46706, 56872]),
        list([(15070, 46671, 1508), (15070, 46706, 981), (15070, 56872, 370), (46671, 46706, 527), (46671, 56872, 1646), (46706, 56872, 952)])]],
      dtype=object)

In [25]:
#final_dict

In [26]:
final_dict={}
def combine_ids(args, ment):
    global final_dict
    for ele in args:
        if ele[2] < 100:
            if ele[0] not in final_dict:
                final_dict[ele[0]]=ele[1]
            elif final_dict[ele[0]] != ele[1]:
                final_dict[ele[1]]=final_dict[ele[0]]
                print(f"case1:{ele}")
            else:
                print(f"case2:{ele}")
        else:
            continue
    return

In [54]:
#modified
final_dict={}
def combine_ids(args, ment):
    global final_dict
    for ele in args:
        if ele[2] < 100:
            if ele[0] in final_dict:
                final_dict[ele[0]].add(ele[1])
                print(f"case1:{ele}")
            elif ele[1] in final_dict:
                final_dict[ele[1]].add(ele[0])
                print(f"case2:{ele}")
            else :#ele[0] not in final_dict and ele[1] not in final_dict
                final_dict[ele[0]]= set()
                final_dict[ele[0]].add(ele[1])  
        else:
            continue
    return

In [55]:
tmp=sim_adv1['dist'].apply(combine_ids,args=(ment,))

case1:(16490, 43091, 30)
case1:(31716, 44378, 72)
case1:(22841, 24476, 27)
case1:(22607, 24318, 40)
case1:(10539, 10554, 30)
case1:(12284, 86197, 90)
case1:(12284, 86197, 90)
case1:(31825, 32005, 20)
case1:(36606, 50079, 30)
case1:(36607, 64457, 30)
case1:(63908, 73475, 8)
case1:(22677, 24670, 87)
case1:(22677, 24670, 87)
case1:(31717, 32137, 8)
case1:(88166, 88399, 0)
case1:(8326, 86039, 50)
case1:(8326, 86039, 50)
case1:(7640, 90118, 1)
case1:(7558, 90184, 20)
case1:(23716, 26260, 44)
case1:(7786, 93211, 20)
case1:(36611, 50054, 10)
case2:(52304, 52431, 70)
case1:(50524, 83656, 19)

In [58]:
final_list_list = []
for key in final_dict:
    final_list = []
    final_list.append(key)
    for value in final_dict[key]:
        final_list.append(value)
    final_list = sorted(final_list)
    final_list_list.append(final_list)

In [60]:
mod_final_dict = {}
for values in final_list_list:
    for i in range(len(values)-1):
        mod_final_dict[values[i]] = values[i+1]

In [61]:
mod_final_dict

{8438: 86019,
 3609: 84314,
 4131: 84314,
 44754: 57561,
 17085: 68023,
 4844: 7062,
 5660: 6732,
 36607: 64457,
 16500: 32018,
 15468: 76555,
 81278: 81285,
 39509: 40766,
 16418: 31701,
 80207: 85032,
 16490: 43091,
 31716: 44378,
 8407: 12377,
 4933: 50223,
 24598: 25046,
 21733: 23087,
 36932: 37035,
 40875: 77926,
 80911: 85221,
 22437: 25367,
 22841: 24476,
 32599: 69533,
 4467: 74109,
 34107: 56951,
 22607: 24318,
 23162: 23967,
 57913: 57953,
 32838: 69489,
 21714: 22922,
 22943: 24726,
 24290: 26126,
 77159: 82740,
 5608: 11678,
 84892: 85020,
 8859: 12338,
 23109: 24665,
 1778: 3311,
 22421: 24095,
 21749: 24275,
 22644: 24391,
 21742: 23046,
 23111: 23957,
 25133: 26183,
 23450: 24748,
 22654: 24387,
 19669: 49124,
 32837: 69495,
 10539: 10554,
 20655: 81668,
 12367: 86103,
 12357: 86135,
 12284: 86197,
 22772: 24694,
 23196: 24739,
 8869: 86026,
 32686: 69501,
 32629: 32689,
 24404: 24976,
 43726: 48724,
 19563: 77909,
 25721: 27429,
 10327: 10341,
 34204: 67523,
 80222: 84882,
 23125: 23894,
 4470: 15063,
 21747: 22738,
 21722: 23942,
 40873: 77927,
 23344: 24988,
 22646: 26239,
 67600: 67723,
 10276: 10408,
 44747: 57574,
 22554: 23000,
 11157: 76323,
 31825: 32005,
 16420: 158349,
 53093: 61086,
 21685: 23284,
 84894: 85011,
 36606: 50079,
 16415: 31866,
 950: 25725,
 44474: 84641,
 69597: 76195,
 79574: 80228,
 283: 75915,
 80219: 84833,
 63908: 73475,
 5655: 6455,
 4882: 6445,
 38841: 39222,
 47841: 153155,
 42575: 64302,
 31691: 31942,
 31699: 32084,
 70704: 71177,
 16399: 31869,
 941: 25746,
 22829: 24659,
 8239: 67134,
 84921: 85012,
 8460: 12340,
 8397: 12303,
 80212: 84955,
 90330: 93259,
 11250: 44251,
 57245: 79755,
 12276: 86173,
 22677: 24670,
 31717: 32137,
 64188: 64511,
 88166: 88399,
 35806: 44257,
 84958: 85025,
 8863: 12295,
 23291: 24661,
 31931: 43068,
 80380: 84837,
 84913: 85026,
 32003: 46828,
 84983: 85028,
 31915: 72811,
 31706: 72811,
 22814: 24148,
 36627: 64449,
 45884: 53775,
 14159: 17187,
 8326: 86039,
 80359: 84829,
 80357: 84995,
 12900: 38242,
 31707: 31940,
 80317: 84836,
 8250: 66971,
 11921: 67021,
 3123: 3262,
 73247: 73271,
 48635: 62751,
 4959: 44249,
 8005: 93113,
 7640: 90118,
 25740: 34082,
 2559: 17110,
 41448: 77890,
 12927: 91364,
 65548: 71195,
 19300: 49120,
 34142: 37277,
 8750: 12218,
 31698: 43084,
 30201: 35201,
 12286: 86165,
 8906: 12310,
 22918: 24300,
 21236: 24603,
 24383: 24729,
 26085: 35898,
 38053: 38911,
 31863: 46830,
 7558: 90184,
 7565: 92237,
 22669: 25820,
 34254: 67676,
 37401: 47175,
 31993: 72823,
 23716: 25718,
 25718: 26260,
 7786: 93211,
 36611: 50054,
 21751: 23130,
 21232: 24970,
 68310: 83230,
 9250: 279243,
 8319: 8877,
 21670: 22853,
 80203: 85006,
 4932: 4957,
 81355: 103813,
 17155: 27038,
 27498: 196625,
 50689: 83628,
 52100: 83836,
 62474: 83640,
 27516: 52779,
 5005: 5726,
 27542: 160317,
 50620: 52781,
 52304: 52431,
 52431: 52441,
 52071: 52441,
 3236: 9516,
 80110: 80484,
 43554: 52309,
 11966: 52084,
 18244: 84395,
 90287: 93083,
 38997: 39185,
 1412: 208335,
 50524: 83656,
 26469: 26470,
 29204: 30599,
 47357: 57558,
 84850: 85003,
 16398: 31751,
 84902: 84998,
 8255: 67140,
 80350: 84993}

In [63]:
#final_dict

In [28]:
#ment[ment['advId']==54322][['advisor_name','dc.subject.ddc','uniq_ddc_across_dept','publisher_dept']].values

In [29]:
#ment[ment['advId']==64167][['advisor_name','dc.subject.ddc','uniq_ddc_across_dept','publisher_dept']].values

In [64]:
len(mod_final_dict)

213

In [33]:
pd.unique(ment['advId']).shape

(76288,)

In [34]:
pd.unique(ment['resId']).shape

(192059,)

In [65]:
ment['advId']=ment['advId'].replace(mod_final_dict)

In [67]:
ment['resId']=ment['resId'].replace(mod_final_dict)

In [68]:
ment['advisor_advId']=ment['advisor_name']+"@"+ment['advId'].map(str)
ment['researcher_resId']=ment['researcher_name']+"@"+ment['resId'].map(str)

In [69]:
#index file
index_names=pd.unique(ment[['advisor_advId', 'researcher_resId']].values.ravel('K')).copy()
name_index1=pd.DataFrame({'names_id':index_names})
name_index1[['names','rid']]=name_index1['names_id'].str.split("@",expand=True)
name_index1['rid']=name_index1['rid'].map(int)
name_index1=name_index1[['rid','names']]

In [70]:
name_index2=name_index1.groupby(['rid'])['names'].apply(list).reset_index().copy()

In [71]:
name_index2.head()

   rid             names
0    1      [Joy, C. M.]
1    4   [Joseph, K. K.]
2    5   [Thomas, E. M.]
3    6  [Francis, M. S.]
4    7  [Karmaly, K. A.]

In [72]:
name_index2[name_index2["rid"]==28].values

array([[28,
        list(['Kumar, N. Ajith', 'Ajith Kumar, N.', 'Ajithkumar, N.'])]],
      dtype=object)

In [73]:
#modified
name_index2['names']=name_index2['names'].apply(lambda x : "|".join(x))

In [74]:
ment.drop_duplicates(subset=['advId','resId','DepartmentId','instituteId','N_thesisId'], keep="first", inplace=True)

In [75]:
ment.shape

(201477, 24)

In [76]:
#name_index1.to_csv(folder+"index_file1_v5_2.csv", sep ="," , index=False)
name_index2.to_csv(folder+"index_file2_v5_2_4.csv", sep ="," , index=False)
ment.to_csv(folder+"final_shodhganga_dataset_v5_2_4.csv", sep ="," , index=False)

In [93]:
#tuple(sorted([300]))

In [77]:
pd.unique(ment['advId']).shape

(73676,)

In [78]:
pd.unique(ment['resId']).shape

(192018,)

In [79]:
name_index1[name_index1['names'].duplicated()].shape

(40280, 2)

In [92]:
name_index1.shape

(276955, 2)

In [91]:
name_index2.shape #(259454, 2)(257053, 2)

(256842, 2)

In [81]:
name_index2.iloc[15:20]

    rid                                           names
15   26                                  Joseph, Joy P.
16   27                                      Joy, C. M.
17   28  Kumar, N. Ajith|Ajith Kumar, N.|Ajithkumar, N.
18   29                                Sebastian, P. A.
19   30                                    James, T. J.

In [82]:
ment[ment['advId']==4912]

,advisorId,researcherId,advId,resId,advisor_name,researcher_name,publisher_dept,DepartmentId,publisher_institution,instituteId,...,new_date_awarded,dc.date.awarded,dc.subject.ddc,uniq_ddc_across_dept,dc.description.abstract,dc.title.alternative,N_DepartmentId_1,ddc_code,advisor_advId,researcher_resId
11586,4912,103862,4912,103862,"Kesambi, D. D.","Mohammad, Shabbar",department of mathematics,D563,Aligarh Muslim University,I292,...,1943-07-01,NaN,500::Natural sciences & mathematics|510::Mathe...,"('500', '510')",NaN,NaN,D563,"('500', '510')","Kesambi, D. D.@4912","Mohammad, Shabbar@103862"

In [89]:
#ment[ment["advisor_name"].str.contains('Adhya')]