In [1]:
import pandas as pd

In [2]:
ment = pd.read_csv('Shodhganga_mentorship.csv', sep = ",")

In [3]:
ment.shape

(205235, 20)

In [4]:
inx = pd.read_csv('Shodhganga_indexed.csv', sep = ",")

In [5]:
inx.shape

(238442, 2)

In [10]:
inx.head(20)

              r_names  rid
0        Jose, Joseph    0
1         Raju, K. V.    1
2       Joseph, K. K.    2
3       Thomas, E. M.    3
4      Francis, M. S.    4
5      Karmaly, K. A.    5
6      Dominic, V. J.    6
7   Stephanson, K. A.    7
8    Narendran, T. C.    8
9     Kumar, N. Ajith    9
10  Radhakrishnan, N.   10
11           Raju, Kv    1
12    Ajith Kumar, N.    9
13    Thomas, K. John   13
14     Mathew, Philip   14
15         George, M.   15
16     Ajithkumar, N.    9
17   Sebastian, P. A.   17
18       James, T. J.   18
19       Inasu, N. D.   19

In [12]:
pd.unique(inx['rid']).shape

(227489,)

In [13]:
238442 - 227489

10953