In [3]:
import re
import itertools
import pandas as pd
from tqdm import tqdm
import pickle
import json

In [4]:
folder="dataset_v5/v5_2/"

In [3]:
ment = pd.read_csv(folder+"joined_stud_adv_shodhganga_ment_with_disamb_ids.csv",sep=",") 
#dept dism not using therefore 4_1 else 4_2 file

In [4]:
ment.shape

(205744, 27)

In [5]:
ment[ment['advId']==93629]

Empty DataFrame
Columns: [advisorId, researcherId, advisor_name, researcher_name, dc.language.iso[], publisher_dept, DepartmentId, publisher_institution, instituteId, title, thesisId, dc.type.degree, date_submitted, dc.date.awarded, dc.subject.ddc, dc.description.abstract, dc.title.alternative, uniq_ddc_across_dept, N_DepartmentId_1, N_DepartmentId, previous_advisor_name, advisor_inst_dept, res_inst_dept, adv_names_rid, res_names_rid, advId, resId]
Index: []

[0 rows x 27 columns]

In [7]:
ment[ment['resId']==281754]

,advisorId,researcherId,advisor_name,researcher_name,dc.language.iso[],publisher_dept,DepartmentId,publisher_institution,instituteId,title,...,dc.description.abstract,dc.title.alternative,uniq_ddc_across_dept,N_DepartmentId_1,advisor_inst_dept,res_inst_dept,adv_names_rid,res_names_rid,advId,resId
205475,93606,281754,"Kavlekar, K. K.",Ramnathan S,eng,department of political science,D1862,Shivaji University,I58,Social reform movements in South India and Mah...,...,NaN,NaN,"('300', '320')",D1214,"Kavlekar, K. K.@I58@D1862",Ramnathan S@I58@D1862,"Kavlekar, K. K.@93606",Ramnathan S@281754,93629,281754

In [ ]:
#dup=ment.drop_duplicates(subset=['advId','resId','N_DepartmentId','instituteId','thesisId'],keep="first")

In [ ]:
#Duplication problem

In [ ]:
#ment[ment[['advId','resId','N_DepartmentId','instituteId']].duplicated()]

In [ ]:
#ment[ment['advId']==26211]

In [ ]:
ment.columns

In [6]:
def save_obj(obj, name ):
    with open(name + '.pkl', 'wb') as f:
        pickle.dump(obj, f, pickle.HIGHEST_PROTOCOL)

In [7]:
def load_obj(name):
    with open(name, 'rb') as f:
        return pickle.load(f)

In [8]:
def Merge(dict1, dict2):
    res = {**dict1, **dict2}
    return res

In [24]:
thesis1 = load_obj('./index_files4/similar_thesis/similar_thesis_0_100000.pkl')

In [25]:
thesis2 = load_obj('./index_files4/similar_thesis/similar_thesis_100000_200000.pkl')

In [26]:
thesis3 = load_obj('./index_files4/similar_thesis/similar_thesis_200000_281425.pkl')

In [27]:
tmp1 = Merge(thesis1,thesis2)

In [28]:
final_thesis1 = Merge(tmp1,thesis3)

In [29]:
len(final_thesis1)

209476

In [9]:
final_thesis = load_obj(folder+'similar_thesis_7913.pkl')

In [10]:
len(final_thesis)

7913

In [11]:
#f_final_thesis1 = [(t[0][0],t[1][0],t[2], final_thesis1[t][0],final_thesis1[t][1]) for t in final_thesis1 if t[0][0]!=t[1][0]]

In [12]:
f_final_thesis= [(t[0][0],t[1][0],max(t[2],t[3],t[4],t[5]), final_thesis[t][0],final_thesis[t][1]) for t in final_thesis]

In [13]:
#f_final_thesis

In [14]:
len(f_final_thesis)

7913

In [15]:
s_final_thesis =sorted(f_final_thesis, key=lambda x: (x[2]))

In [17]:
#s_final_thesis1 =sorted(f_final_thesis1, key=lambda x: (x[2]))

In [18]:
s_final_thesis[-1]

('T174525',
 'T13802',
 6.0,
 'An analytical study of accrual accounting system and its usefulness to analyse the future cash flow in indian pharmaceutical industry',
 'An analytical study of accrual accounting system and its usefulness to analyse the future cash flow in Indian pharmaceutical industry')

In [19]:
#thesis_95 =  [a for a in f_final_thesis if a[2] > 0.95]

In [ ]:
# tmp_list=[]
# for a in thesis_99:
#     tmp1={}
#     tmp2={}
#     tmp1[a[0]]= list(ment[ment['thesisId']==a[0]][['advisor_name','researcher_name','publisher_institution','dc.title[]']].values.tolist())
#     tmp2[a[1]]= list(ment[ment['thesisId']==a[1]][['advisor_name','researcher_name','publisher_institution','dc.title[]']].values.tolist())                                                                                                          
#     tmp_list.append((tmp1,tmp2, a[2]))

In [ ]:
#tmp_list[0:5]

In [ ]:
#len(thesis_95)

In [ ]:
#thesis_95

In [20]:
#thesis_95 = [a for a in s_final_thesis1 if a[2] > 0.95]

In [21]:
#thesis_95[1]

In [ ]:
#thesis_9950 = [a for a in f_final_thesis if a[2] > 0.9950]

In [ ]:
#thesis_9950

In [ ]:
#thesis_99 #T183074

In [ ]:
import json
with open('index_files4/disambiguated_thesis_with_other_details_0.99.json', 'w', encoding='utf-8') as f:
    json.dump(tmp_list, f, ensure_ascii=False, indent=4)

In [ ]:
import json
with open('index_files4/disambiguated_thesis_0.95.json', 'w', encoding='utf-8') as f:
    json.dump(thesis_95, f, ensure_ascii=False, indent=4)

In [ ]:
import json
with open('index_files4/disambiguated_thesis_with_edit_5.00.json', 'w', encoding='utf-8') as f:
    json.dump(f_final_thesis, f, ensure_ascii=False, indent=4)

In [ ]:
# ('T17596','T41427',0.9914635452797952,
#   'Molecular association in the binary mixtures with acetone as one of the constituents from microwave absorption data',
#   'Molecular association in the binary mixtures with N_methylacetamide as one of the constituents from microwave absorption data')

# ('T25200','T176554',0.9901969317932178,
#   'A sociological study on women development through women self help group in Chennai slum',
#   'A sociological study on women entrepreneurship through women self help group in Chennai slum')

#  ('T62866','T21120',0.9974560920762214,
#   'Synthesis Characterization biological evaluation and computational studies of some novel thiadiazole derivatives',
#   'Synthesis Characterization computational study and biological evaluation of some novel Pyridazinone derivatives'),

# ('T104953','T151436',0.990963511835238,
#   'The extended clinico-laboratory profile of the female partner of infertility in Bundelkhand Region',
#   'The extended clinico-laboratory profile of the male partner in infertility in Bundelkhand Region')


# ('T73994','T183074',1.0000000576966546,'Supercondylar fracture of the Humerus: a conservative approach',
#  'Supracondylar fracture of the Humerus: a conservative approach')

In [ ]:
#thesis_99[0][1]`

In [18]:
s_final_thesis[0]

('T70147',
 'T198172',
 3.333333333333333,
 'STRUCTURE OF DRIP LINE AND SUPERHEAVY NUCLEI IN EFFECTIVE RELATIVISTIC AND NONRELATIVISTIC INTERACTIONS',
 'STRUCTURE OF DRIP LINE AND SUPERHEAVY NUCLEI IN EFFECTIVE RELATIVISTIC AND NONRELATIVISTIC INTERACTIONSSTRUCTURE OF DRIP LINE AND SUPERHEAVY NUCLEI IN EFFECTIVE RELATIVISTIC AND NONRELATIVISTIC INTERACTIONS')

In [19]:
for thesis in s_final_thesis:
    if thesis[0]== "T70147" or thesis[1]== "T70147":
        print(thesis)

('T70147', 'T198172', 3.333333333333333, 'STRUCTURE OF DRIP LINE AND SUPERHEAVY NUCLEI IN EFFECTIVE RELATIVISTIC AND NONRELATIVISTIC INTERACTIONS', 'STRUCTURE OF DRIP LINE AND SUPERHEAVY NUCLEI IN EFFECTIVE RELATIVISTIC AND NONRELATIVISTIC INTERACTIONSSTRUCTURE OF DRIP LINE AND SUPERHEAVY NUCLEI IN EFFECTIVE RELATIVISTIC AND NONRELATIVISTIC INTERACTIONS')

In [26]:
thesis_99 = f_final_thesis

In [27]:
ment['N_thesisId'] = ment['thesisId']
tmp_dict={}
for thesis in tqdm(thesis_99):
    if thesis[0] in tmp_dict and thesis[1] in tmp_dict :
        ment.loc[ment['N_thesisId'].isin([tmp_dict[thesis[0]],tmp_dict[thesis[1]]]),'N_thesisId']= tmp_dict[thesis[0]]
    elif thesis[0] in tmp_dict :
        ment.loc[ment['N_thesisId'].isin([tmp_dict[thesis[0]],thesis[1]]),'N_thesisId'] = tmp_dict[thesis[0]]
    elif thesis[1] in tmp_dict:
        ment.loc[ment['N_thesisId'].isin([thesis[0],tmp_dict[thesis[1]]]),'N_thesisId'] = thesis[0]
    else:
        tmp_dict[thesis[1]]=thesis[0]
        ment.loc[ment['N_thesisId'].isin([thesis[0],thesis[1]]),'N_thesisId'] =  thesis[0]

100%|██████████| 7913/7913 [05:44<00:00, 22.94it/s]

In [28]:
ment[ment['title'].str.contains("Synthesis of heterocyclic compounds \(.*\)")][['title','thesisId','N_thesisId']]

                                                  title thesisId N_thesisId
3588   Synthesis of heterocyclic compounds (2014-01-01)   T22916     T22916
3592   Synthesis of heterocyclic compounds (2012-01-01)  T171043     T22916
3681   Synthesis of heterocyclic compounds (2002-01-01)   T64525     T22916
3684   Synthesis of heterocyclic compounds (1999-01-01)   T57657     T22916
3685   Synthesis of heterocyclic compounds (2005-01-01)  T134412     T22916
3693   Synthesis of heterocyclic compounds (1997-01-01)   T19816     T22916
3698   Synthesis of heterocyclic compounds (2010-01-01)  T106739     T22916
12341  Synthesis of heterocyclic compounds (1972-01-01)   T42965     T42965
45498  Synthesis of heterocyclic compounds (1985-01-01)   T47529     T18242
45610  Synthesis of heterocyclic compounds (1974-01-01)   T82813     T18242
45611  Synthesis of heterocyclic compounds (1978-01-01)   T18242     T18242
45612  Synthesis of heterocyclic compounds (1977-01-01)  T190187     T18242
45614  Synthesis of heterocyclic compounds (1975-01-01)  T149944     T18242
45618  Synthesis of heterocyclic compounds (1969-01-01)  T131846     T18242
45619  Synthesis of heterocyclic compounds (1979-01-01)   T28845     T18242
46755  Synthesis of heterocyclic compounds (1973-01-01)   T62741     T62741

In [52]:
ment.to_csv(folder+"joined_stud_adv_shodhganga_ment_with_disamb_ids4_1_2.csv",index=False)

In [29]:
ment[ment['thesisId']=="T43961"].values

array([[79148, 251177, 'Rajinder, Mishra', 'Sailesh, Kumar', 'eng',
        'department of the business school', 'D559',
        'University of Jammu', 'I290',
        'Prospects of Medical Tourism in India', 'T43961', 'phd',
        '2013-01-01', nan, '300::Social sciences|370::Education', nan,
        nan, "('300', '370')", 'D559', 'D559', 'Rajinder, Mishra',
        'Rajinder, Mishra@I290@D559', 'Sailesh, Kumar@I290@D559',
        'Rajinder, Mishra@79148', 'Sailesh, Kumar@251177', 79148, 251177,
        'T43961']], dtype=object)

In [30]:
ment[ment['thesisId']=="T22884"].values

array([[79156, 251190, 'Rajendra, Mishra', 'Shailesh, Kumar', 'eng',
        'department of the business school', 'D559',
        'University of Jammu', 'I290',
        'Prospects of Medical Tourism in Northern India', 'T22884',
        'phd', '2013-01-01', nan, '300::Social sciences|370::Education',
        'Prospects of Medical Tourism in Northern India',
        'Prospects of Medical Tourism in rthern ndia', "('300', '370')",
        'D559', 'D559', 'Rajendra, Mishra', 'Rajendra, Mishra@I290@D559',
        'Shailesh, Kumar@I290@D559', 'Rajendra, Mishra@79156',
        'Shailesh, Kumar@251190', 79139, 251177, 'T43961']], dtype=object)

In [31]:
ment[ment['thesisId']=="T148911"].values

array([[12057, 118373, 'Pradhan, S. C.', 'Patnaik, S B.', 'ori',
        'department of oriya', 'D807', 'Utkal University', 'I75',
        'Odia Kabya Kabita Re Phul', 'T148911', 'phd', '1982-01-01', nan,
        '800::Literature & rhetoric|890::Literatures of other languages|891::East Indo-European & Celtic literatures',
        nan, nan, "('800', '890', '891')", 'D1621', 'D1621',
        'Pradhan, S. C.', 'Pradhan, S. C.@I75@D807',
        'Patnaik, S B.@I75@D807', 'Pradhan, S. C.@12057',
        'Patnaik, S B.@118373', 12057, 118373, 'T148911']], dtype=object)

In [32]:
ment[ment['thesisId']=="T64525"].values

array([[1556, 96813, 'Majumdar, K. C.', 'Basu, Pradipta Kumar', 'eng',
        'department of chemistry', 'D276', 'University of Kalyani',
        'I302', 'Synthesis of heterocyclic compounds (2002-01-01)',
        'T64525', 'phd', '2002-01-01', nan,
        '500::Natural sciences & mathematics|540::Chemistry & allied sciences',
        nan, nan, "('500', '540')", 'D1331', 'D1331', 'Majumdar, K. C.',
        'Majumdar, K. C.@I302@D276', 'Basu, Pradipta Kumar@I302@D276',
        'Majumdar, K. C.@1556', 'Basu, Pradipta Kumar@96813', 1556,
        96813, 'T22916']], dtype=object)

In [33]:
ment[ment['thesisId']=="T134412"].values

array([[1556, 96829, 'Majumdar, K. C.', 'Saha, Dipanwita', 'eng',
        'department of chemistry', 'D276', 'University of Kalyani',
        'I302', 'Synthesis of heterocyclic compounds (2005-01-01)',
        'T134412', 'phd', '2005-01-01', nan,
        '500::Natural sciences & mathematics|540::Chemistry & allied sciences',
        nan, nan, "('500', '540')", 'D1331', 'D1331', 'Majumdar, K. C.',
        'Majumdar, K. C.@I302@D276', 'Saha, Dipanwita@I302@D276',
        'Majumdar, K. C.@1556', 'Saha, Dipanwita@96829', 1556, 96829,
        'T22916']], dtype=object)

In [34]:
ment[ment['thesisId']=="T25200"].values

array([[10292, 114466, 'Karuppiah C.', 'Nundiyny, A D.', 'eng',
        'department of sociology', 'D2534', 'Madurai Kamraj University',
        'I165',
        'A sociological study on women development through women self help group in Chennai slum',
        'T25200', 'phd', '2014-01-01', nan,
        '300::Social sciences|301::Sociology & anthropology', nan, nan,
        "('300', '301')", 'D2534', 'D2534', 'Karuppiah C.',
        'Karuppiah C.@I165@D2534', 'Nundiyny, A D.@I165@D2534',
        'Karuppiah C.@10292', 'Nundiyny, A D.@114466', 10292, 114466,
        'T176554']], dtype=object)

In [35]:
ment[ment['thesisId']=="T176554"].values

array([[10292, 114457, 'Karuppiah C.', 'Nayagam, Maithili Mariya V.',
        'eng', 'department of sociology', 'D2534',
        'Madurai Kamraj University', 'I165',
        'A sociological study on women entrepreneurship through women self help group in Chennai slum',
        'T176554', 'phd', '2014-01-01', nan,
        '300::Social sciences|301::Sociology & anthropology', nan, nan,
        "('300', '301')", 'D2534', 'D2534', 'Karuppiah C.',
        'Karuppiah C.@I165@D2534',
        'Nayagam, Maithili Mariya V.@I165@D2534', 'Karuppiah C.@10292',
        'Nayagam, Maithili Mariya V.@114457', 10292, 114457, 'T176554']],
      dtype=object)

In [ ]:
#ment.columns

In [36]:
ment[ment['thesisId']=="T19816"].values

array([[1556, 96848, 'Majumdar, K. C.', 'Chatterjee, Pranab', 'eng',
        'department of chemistry', 'D276', 'University of Kalyani',
        'I302', 'Synthesis of heterocyclic compounds (1997-01-01)',
        'T19816', 'phd', '1997-01-01', nan,
        '500::Natural sciences & mathematics|540::Chemistry & allied sciences',
        nan, nan, "('500', '540')", 'D1331', 'D1331', 'Majumdar, K. C.',
        'Majumdar, K. C.@I302@D276', 'Chatterjee, Pranab@I302@D276',
        'Majumdar, K. C.@1556', 'Chatterjee, Pranab@96848', 1556, 96848,
        'T22916']], dtype=object)

In [37]:
ment[ment['thesisId']=="T57657"].values

array([[1556, 96828, 'Majumdar, K. C.', 'Biswas, Paritosh', 'eng',
        'department of chemistry', 'D276', 'University of Kalyani',
        'I302', 'Synthesis of heterocyclic compounds (1999-01-01)',
        'T57657', 'phd', '1999-01-01', nan,
        '500::Natural sciences & mathematics|540::Chemistry & allied sciences',
        nan, nan, "('500', '540')", 'D1331', 'D1331', 'Majumdar, K. C.',
        'Majumdar, K. C.@I302@D276', 'Biswas, Paritosh@I302@D276',
        'Majumdar, K. C.@1556', 'Biswas, Paritosh@96828', 1556, 96828,
        'T22916']], dtype=object)

In [ ]:
ment[ment['thesisId']=="T73994"].values

In [ ]:
#set(['department of maharani laxmi bai medical college']).intersection(['department of maharani laxmi bai medical college'])

In [ ]:
ment[ment['thesisId']=="T183074"].values

In [ ]:
ment[ment['thesisId']=="T104953"].values

In [ ]:
ment[ment['thesisId']=="T99902"].values

In [ ]:
ment[ment['thesisId']=="T142274"].values

In [ ]:
ment[ment['thesisId']=="T67491"].values

In [ ]:
ment[ment['thesisId']=="T67489"].values

In [ ]:
ment[ment['thesisId']=="T27684"].values

In [ ]:
ment[ment['thesisId']=="T177017"].values

In [ ]:
ment[ment['thesisId']=="T186558"].values

In [ ]:
ment[ment['thesisId']=="T32034"].values

In [ ]:
ment[ment['thesisId']=="T97128"].values

In [ ]:
ment[ment['thesisId']=="T17763"].values

In [ ]:
ment[ment['thesisId']=="T193203"].values

In [ ]:
ment[ment['thesisId']=="T83665"].values

In [ ]:
ment[ment['thesisId']=="T165609"].values

In [ ]:
ment[ment['thesisId']=="T54529"].values

In [ ]:
ment[ment['thesisId']=="T7840"].values

In [ ]:
#T54529,T7840,'T165609'

In [ ]:
ment.columns

In [45]:
ment[ment['researcher_name'].str.contains("singh")]#[['advId','resId','researcher_name','title','thesisId','N_thesisId']].values

,advisorId,researcherId,advisor_name,researcher_name,dc.language.iso[],publisher_dept,DepartmentId,publisher_institution,instituteId,title,...,N_DepartmentId_1,N_DepartmentId,previous_advisor_name,advisor_inst_dept,res_inst_dept,adv_names_rid,res_names_rid,advId,resId,N_thesisId
4348,1844,97466,"Rao, K. S. Venu Gopal","singh, Sweta",eng,faculty of management,D2073,ICFAI Foundation for Higher Education,I128,Examining Brand Bundling As a New Product Intr...,...,D2073,D2073,"Rao, K. S. Venu Gopal","Rao, K. S. Venu Gopal@I128@D2073","singh, Sweta@I128@D2073","Rao, K. S. Venu Gopal@1844","singh, Sweta@97466",1844,97466,T181490
5699,2421,98592,"Nayak, Kanubhai","Kamol, Navalsingh",eng,department of rural economics,D620,Gujarat Vidyapith,I350,Khadi udhyogno arthshastriya abhyas Gujarat ra...,...,D620,D620,"Nayak, Kanubhai","Nayak, Kanubhai@I350@D620","Kamol, Navalsingh@I350@D620","Nayak, Kanubhai@2421","Kamol, Navalsingh@98592",2421,98592,T164732
6658,2817,193815,"Singh, Ganesh","singh, Rashmi",eng,department of agriculture,D976,V. B. S. Purvanchal University,I306,Diallel Analysis Against High Temperature in T...,...,D424,D424,"Singh, Ganesh","Singh, Ganesh@I306@D976","singh, Rashmi@I306@D976","Singh, Ganesh@2817","singh, Rashmi@193815",2817,99480,T136062
8097,3401,100877,"Sircar, Shruti","Jayasinghe, Ramani Ratnamali",eng,department of linguistics and phonetics,D936,"The English and Foreign Languages University, ...",I189,Acquisition of Fine Grained Categories of Prep...,...,D2355,D2355,"Sircar, Shruti","Sircar, Shruti@I189@D936","Jayasinghe, Ramani Ratnamali@I189@D936","Sircar, Shruti@3401","Jayasinghe, Ramani Ratnamali@100877",3459,100877,T193442
8633,3694,101179,"Singh, S, P.","Yadav, Raghunath singh",eng,department of genetics and plant breeding,D1992,Bundelkhand University,I224,A study on stability of yield and yield contri...,...,D1992,D1992,"Singh, S, P.","Singh, S, P.@I224@D1992","Yadav, Raghunath singh@I224@D1992","Singh, S, P.@3694","Yadav, Raghunath singh@101179",3693,101179,T105739
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201672,91673,277747,Tekwani P. N.,"Siddharthsingh, Chauhan",eng,institute of technology,D910,Nirma University,I168,Investigations of Applications of Current Erro...,...,D910,D910,Tekwani P. N.,Tekwani P. N.@I168@D910,"Siddharthsingh, Chauhan@I168@D910",Tekwani P. N.@91673,"Siddharthsingh, Chauhan@277747",91673,277747,T86740
204530,92943,280512,"Singh, Rana Kulwant","singh, Kamal jeet",eng,department of commerce,D1072,Himachal Pradesh University,I49,Indo Japanese business relations in pre and po...,...,D1072,D1072,"Singh, Rana Kulwant","Singh, Rana Kulwant@I49@D1072","singh, Kamal jeet@I49@D1072","Singh, Rana Kulwant@92943","singh, Kamal jeet@280512",92906,280512,T9525
204589,92955,280565,"Kumar, Gupta Sunil","singh, Ajay pal",eng,department of commerce,D1072,Himachal Pradesh University,I49,Quality of work life,...,D1072,D1072,"Kumar, Gupta Sunil","Kumar, Gupta Sunil@I49@D1072","singh, Ajay pal@I49@D1072","Kumar, Gupta Sunil@92955","singh, Ajay pal@280565",92904,280565,T45066
205070,93139,281098,Meenakshisundaram S.,Premsinghsamuel S D,eng,faculty of technology,D2403,Anna University,I250,Engineering pichiapastorisExpression system fo...,...,D2403,D2403,Meenakshisundaram S.,Meenakshisundaram S.@I250@D2403,Premsinghsamuel S D@I250@D2403,Meenakshisundaram S.@93139,Premsinghsamuel S D@281098,93080,281098,T101862
205072,93139,281127,Meenakshisundaram S.,Premsingh samuel S D,eng,faculty of technology,D2403,Anna University,I250,Engineering pichia pastoris expression system ...,...,D2403,D2403,Meenakshisundaram S.,Meenakshisundaram S.@I250@D2403,Premsingh samuel S D@I250@D2403,Meenakshisundaram S.@93139,Premsingh samuel S D@281127,93080,281098,T44528

In [42]:
a='Engineering pichiapastorisExpression system for enhancedCandida antarcticalipase b Enzyme secretion'

In [43]:
b='Engineering pichia pastoris expression system for enhanced candida antarctica lipase b enzyme secretion'

In [44]:
a.replace(" ","").lower()==b.replace(" ","").lower()

True

In [51]:
ment[ment['researcher_name'].str.contains("singh")].iloc[270:]#[['advId','resId','researcher_name','title','thesisId','N_thesisId']].values

,advisorId,researcherId,advisor_name,researcher_name,dc.language.iso[],publisher_dept,DepartmentId,publisher_institution,instituteId,title,...,N_DepartmentId_1,N_DepartmentId,previous_advisor_name,advisor_inst_dept,res_inst_dept,adv_names_rid,res_names_rid,advId,resId,N_thesisId
204530,92943,280512,"Singh, Rana Kulwant","singh, Kamal jeet",eng,department of commerce,D1072,Himachal Pradesh University,I49,Indo Japanese business relations in pre and po...,...,D1072,D1072,"Singh, Rana Kulwant","Singh, Rana Kulwant@I49@D1072","singh, Kamal jeet@I49@D1072","Singh, Rana Kulwant@92943","singh, Kamal jeet@280512",92906,280512,T9525
204589,92955,280565,"Kumar, Gupta Sunil","singh, Ajay pal",eng,department of commerce,D1072,Himachal Pradesh University,I49,Quality of work life,...,D1072,D1072,"Kumar, Gupta Sunil","Kumar, Gupta Sunil@I49@D1072","singh, Ajay pal@I49@D1072","Kumar, Gupta Sunil@92955","singh, Ajay pal@280565",92904,280565,T45066
205070,93139,281098,Meenakshisundaram S.,Premsinghsamuel S D,eng,faculty of technology,D2403,Anna University,I250,Engineering pichiapastorisExpression system fo...,...,D2403,D2403,Meenakshisundaram S.,Meenakshisundaram S.@I250@D2403,Premsinghsamuel S D@I250@D2403,Meenakshisundaram S.@93139,Premsinghsamuel S D@281098,93080,281098,T101862
205072,93139,281127,Meenakshisundaram S.,Premsingh samuel S D,eng,faculty of technology,D2403,Anna University,I250,Engineering pichia pastoris expression system ...,...,D2403,D2403,Meenakshisundaram S.,Meenakshisundaram S.@I250@D2403,Premsingh samuel S D@I250@D2403,Meenakshisundaram S.@93139,Premsingh samuel S D@281127,93080,281098,T44528